[2020-10-18 15:57] redxzeta opened #1 "fix Pet Page List"
card box height is uneven
![image](https://user-images.githubusercontent.com/19883954/96373231-f3fc7900-111f-11eb-85b8-edb38a4b95f5.png)

[2020-10-19 10:41] alexkimeu0 commented on #1
I would like to work on this issue.

[2020-10-19 14:49] redxzeta commented on #1
go for it

[2020-10-19 14:53] redxzeta opened #2 "Fix the pet categories height"
also uneven
![image](https://user-images.githubusercontent.com/19883954/96467715-105fea80-11e0-11eb-8d3f-e7e5348b641d.png)

[2020-10-19 15:00] redxzeta opened #3 "Open to Suggestions on improving the site"
The site could use some more improvements so feel free to open a PR for anything that you think is an improvement or any issues that come up.
The goal is to make the website to have access to information on the pets to adopt.

The site could be accessed here: http://pawternityhub.tech/

[2020-10-19 19:17] #1 closed

[2020-10-19 20:48] redxzeta opened #5 "Add a spinner or Loading for displaying the pets"
Currently loads a blank before grabbin a data.

Was thinking of adding a spinner or loading before the data is fetched

[2020-10-20 07:00] alexkimeu0 commented on #5
I would like to try this.

[2020-10-20 16:43] #5 closed

[2020-10-20 17:56] redxzeta opened #7 "Validation for zipcode"
![image](https://user-images.githubusercontent.com/19883954/96625221-c1d74c80-12c2-11eb-84eb-af706e83ae56.png)

make sure the zipcode is valid
and display an error when the zip code is invalid
US zipcode for now 5 digits

[2020-10-20 17:58] redxzeta opened #8 "Make the Pets a Dropdown Menu"
![image](https://user-images.githubusercontent.com/19883954/96625468-17135e00-12c3-11eb-8fdf-d4ae4a5b902a.png)

and then have links to dog, cat, bird, horse, rabbit

[2020-10-21 11:54] web2feel commented on #2
Submitted PR with a fix.

[2020-10-21 15:46] #8 closed

[2020-10-21 15:46] #2 closed

[2020-10-21 16:33] redxzeta opened #10 "Have a left right button so users could view more pictures"
![image](https://user-images.githubusercontent.com/19883954/96750011-5ce22c00-1380-11eb-83ba-229b5519e035.png)

May want to look at the docs to see how it is structured

[docs](https://www.petfinder.com/developers/v2/docs/l)

[2020-10-21 16:50] redxzeta opened #11 "Featured Pets in Home Page"
![image](https://user-images.githubusercontent.com/19883954/96751876-96b43200-1382-11eb-8af5-3013e79ef016.png)

Featured Pets of the Day/Week either in a Card or Gallery

Clicking on the image takes u to the pet and hovering shows more images

Feel free to remove the animation in `home.css`

Any more ideas are welcome

[2020-10-21 18:15] samin-batra commented on #11
Hi @redxzeta can you assign this issue to me?

[2020-10-21 18:27] redxzeta commented on #11
alright

[2020-10-22 23:46] redxzeta opened #12 "Adding Pagination of the list of pets"
Currently displays one page of pets

using this link         `https://api.petfinder.com/v2/animals?type=${type}&location=${zipCode}&limit=10&page=1`, in `PetType.js`

implement a next and previous button in `PetType.js` to view the next page of pets

[2020-10-24 11:25] web2feel commented on #7
#13  PR submitted

[2020-10-24 13:41] #7 closed

[2020-10-27 09:05] Wei-J-Huang commented on #10
Hi, I would like to try to fix this issue :)

[2020-10-27 20:27] #10 closed

[2020-10-27 20:32] redxzeta opened #15 "Adding a footer at the bottom of the page"

[2020-10-27 22:07] 2022akande commented on #15
I'd like to give it a shot

[2020-10-27 22:12] redxzeta commented on #15
sure

[2020-10-27 22:31] 2022akande commented on #15
I got as far as cloning the directory and creating a new branch but I'm not sure what to do afterwards. I opened the index file in vscode but I'm not sure if there is where the footer should be.

[2020-10-27 22:43] redxzeta commented on #15
there isnt a footer yet.
u could make a component and place it at the bottom of the container
[code]
And then u could create the `Footer.js`  in the folder `layout` if u want or its separate folder
and maybe add links in to the footer and (c) redxzeta 2020
[react bootstrap docs ](https://react-bootstrap.github.io/)

[2020-10-28 02:29] #15 closed

[2020-10-28 02:32] redxzeta opened #17 "Add About Page"
Create an About page and put a link in the nav bar
Just put in lorem ipsum filler text and a filler image.

[2020-10-28 02:33] redxzeta opened #18 "Update the readme"

[2020-10-28 03:10] rdhaundiyal-indeed commented on #17
Please feel free to assign this to me. Thanks.

[2020-10-28 03:54] redxzeta opened #19 "Fix Pet Page with no images"
Some of the Pets do not have images and and viewing their page bugs it out

[2020-10-28 03:56] rdhaundiyal-indeed commented on #17
Please feel free to assign me if nobody is working on this.

[2020-10-28 03:58] rdhaundiyal-indeed commented on #17
Hi @redxzeta - I have added a PR. Please take a look.

PS: did not add any tests (I did not find tests for other components). If you add sample tests for Home component, I can follow the convention and add tests for About component. Thanks.

[2020-10-28 04:11] redxzeta commented on #17
Im kinda unsure how to add tests.

[2020-10-28 04:16] redxzeta opened #21 "Switching Pet Type page"
Clicking on a different pet type doesnt take u to the page and the link changes to `http://localhost:3000/pets/pets/horse`

[2020-10-28 04:22] redxzeta opened #22 "Add Testing?"
I am not really familiar with testing.

If someone is up to implement it, go ahead

[2020-10-28 04:48] redxzeta opened #23 "mouse hover over image shows another picture"
In `PetType.js`, mouse hover over would transition to another image of the pet and then after returns to the original pet img.

Might also need to check if pet has more than one or none

[2020-10-28 05:00] redxzeta opened #24 "Add a spinner for PetInfo"

[2020-10-28 08:40] Dave-mash commented on #24
@redxzeta I'd love to help out on this.

[2020-10-28 08:45] AniketCPatel commented on #18
Can add details like 1) guidlines for adoption in COVID situation 2) Add website pics for demo 3) Adoption FAQs

[2020-10-28 10:45] redxzeta commented on #24
Go for it

[2020-10-28 21:16] redxzeta commented on #18
Yea that would be fine

[2020-10-29 03:43] adrianmendez03 commented on #21
Can I take a crack at it?

[2020-10-29 03:57] redxzeta commented on #21
sure

[2020-10-29 05:03] #21 closed

[2020-10-29 05:12] redxzeta opened #26 "Add A resource page"
Info for adopting pets

Info about covid

Helpful links and styling the page if u can

[2020-10-29 05:29] Denpex commented on #19
Hi @redxzeta I would love to do this task also I want to implement a simple gallery for the Pet page and fix the nav bar height when the image is loaded inside of the Pet page.

Tasks:
- [ ]  Fix pet page with no images
- [ ]  Add gallery to pet page
- [ ]  Fix nav bar height when images are loaded in pet page

[2020-10-29 05:40] redxzeta commented on #19
Sounds great go for it

[2020-10-29 07:04] Denpex commented on #19
I have created a new pull request, hope you like it

[2020-10-29 12:49] salihsenturk commented on #23
Hi,

I sent a pull request for this issue.

[2020-10-29 16:05] #17 closed

[2020-10-29 16:05] #23 closed

[2020-10-29 16:19] #19 closed

[2020-10-29 16:20] #24 closed

[2020-10-29 16:23] redxzeta opened #30 "Storing the api key"
Maybe store it in localstorage or something so there won't be in constant requests in `App.js`?

Unless someone has a better solution

[code]

[2020-10-29 16:32] redxzeta opened #31 "Pet Card gets extended if the Breed is long"
Some Pets have multiple breeds and it creates a new line extending the height of the card.

[2020-10-29 16:33] redxzeta opened #32 "Placeholder Image"
Maybe a more elegant placeholder image?

![image](https://user-images.githubusercontent.com/19883954/97603510-be7e4800-19c9-11eb-9192-68ea8d24de04.png)

[2020-10-29 17:03] Dave-mash commented on #24
Please add a hacktoberfest-accepted label to my pull request if you don't mind

[2020-10-29 17:34] salihsenturk commented on #12
Hi,

I created a pull request for this issue.

[2020-10-29 19:51] klee214 commented on #30
Although redux + local storage would be the best solution, storing the token into the local storage will absolutely work in this case.

[2020-10-29 20:07] MLJBrackett commented on #32
Hey @redxzeta I'd love to take a shot at this, please assign me. Do you have any ideas for the placeholder or do I have complete freedom for now?

[2020-10-29 20:38] redxzeta commented on #32
no ideas so up to you

[2020-10-29 21:00] yighax commented on #31
hi, i would give it a try

[2020-10-29 21:06] yighax commented on #22
hi, i would give it a try. Can you assign me?

[2020-10-29 23:56] #30 closed

[2020-10-30 01:58] izanf commented on #26
Can you explain more about this issue? Please.

[2020-10-30 01:59] izanf commented on #31
If possible, create with an image of example from the issue.

[2020-10-30 02:10] redxzeta commented on #31
![image](https://user-images.githubusercontent.com/19883954/97651813-49872e80-1a1a-11eb-96ed-b4f8183d294b.png)
also depends on the screen size such as 1024px

[2020-10-30 02:19] izanf commented on #31
Hmm, all right. I think on two possible ways:
1 - Transform this page on mosaic (I don't believe that this way is better, for the complexity)
2 - Use Grid Layout to define a height pattern for all cards to each line. For example, the second cards will assumes the height size from the other cards.
Do you have any idea about that?

[2020-10-30 03:01] redxzeta commented on #26
More information or links on adopting pets, covid,

[2020-10-30 03:46] redxzeta commented on #31
Maybe I'll just add a fixed height with media queries

[2020-10-30 05:32] #32 closed

[2020-10-30 14:39] izanf opened #36 "Align menu to right"
If we divide navbar with "logo" to left and menu to right I believe that is a good improvement.

[2020-10-30 19:03] redxzeta commented on #12
issue with the deployed version on netlify

[2020-10-30 19:29] salihsenturk commented on #12
What is the issue?

[2020-10-30 19:32] redxzeta commented on #12
I think it might have to do with the dependency issue for findpets function in the use Effect. It works locally just not live

[2020-10-30 19:35] salihsenturk commented on #12
Do you any detailed errors so I can investigate? I did not add any new dependencies.

[2020-10-30 19:40] redxzeta commented on #12
![image](https://user-images.githubusercontent.com/19883954/97749765-db3f7c00-1aac-11eb-9b8e-59781964dc4b.png)
maybe it had to deal with this?

Netlify:
![image](https://user-images.githubusercontent.com/19883954/97749867-032edf80-1aad-11eb-8fa7-7200a93d7d2c.png)

[2020-10-30 19:45] redxzeta commented on #36
I see so the links would be on the right?

[2020-10-30 21:04] salihsenturk commented on #12
Sorry about that. It was a warning on local. Now I wrapped findPets method in useCallback, the warning is gone and it seems working fine now.

Sent you a new pull request for this change.

[2020-10-31 01:47] #12 closed

[2020-11-04 16:59] MLJBrackett commented on #26
Hey @redxzeta Could you assign this issue to me or is it already taken?

[2020-11-04 17:29] redxzeta commented on #26
sure

[2020-11-11 03:07] #26 closed

[2020-11-18 19:29] redxzeta opened #39 "Add a Contributors Page"
Could have a Contributors section in the About Page and then have a link to this repo.

[2020-11-19 16:48] masayaShinoda commented on #39
Hi can I give this a try?

[2020-11-19 16:49] redxzeta commented on #39
sure

[2020-11-20 16:46] masayaShinoda commented on #39
Hi I made a pull request #40

[2020-11-30 04:16] redxzeta opened #41 "If Anyone wants to share their adoption stories or pictures"
If anyone wants to share their pet adoption stories or pictures

Thinking of making a page dedicated for people sharing their experiences.

[2020-12-05 03:17] #39 closed

[2020-12-05 03:19] #11 closed

[2020-12-05 03:21] redxzeta opened #42 "Revamp the home page"
Home page seems lacking. Maybe add featured pets of the week or random pets.

Open to other features and feedback.

Feel free to remove the image and css if necessary

[2020-12-05 05:14] agkosd commented on #42
I was hoping to contribute but I have an issue while running the project:

[2020-12-05 05:25] redxzeta commented on #42
hmm ill try emailing you a key

[2020-12-05 05:30] redxzeta commented on #42
lmk if u got it

[2020-12-05 05:40] agkosd commented on #42
Got it!

[2020-12-06 11:38] agkosd commented on #42
Made a pull request #44.

[2020-12-06 11:40] agkosd commented on #42
Made a pull request #44.

Let me know of any changes.

[2020-12-06 21:48] #42 closed

[2020-12-07 15:13] redxzeta opened #45 "create a donation page"
create a new page that has a list of sites of donating to pet adoption places

[2020-12-07 20:37] #22 closed

[2020-12-07 20:38] redxzeta opened #46 "Adding Unit Testing?"
If anyone wants to implementing some tests. I am not too familiar with it

[2020-12-07 21:18] furkanmutlu commented on #45
Could you please give me more details about where to get the list of donating sites from?

[2020-12-08 09:29] vishu2435 commented on #45
Can i do this ? Could you give more information

[2020-12-08 13:12] vishu2435 commented on #46
unit tests you want to say

[2020-12-09 00:43] redxzeta commented on #45
You could probably get a list of the organizations from the pet finder api. That could be a start

[2021-02-15 21:26] redxzeta opened #50 "zipcode filter in one line instead of two in mobile version"
![image](https://user-images.githubusercontent.com/19883954/107994323-4b590b80-6f91-11eb-8d72-bbf5e526dc11.png)

zip code filter takes up two lines

[2021-02-20 21:47] dennismoha commented on #3
I ran the website through google lighthouse and found some issues but these are some I  felt would be necessary to solve so far.
1) Set an explicit width and height on image elements to reduce layout shifts and improve CLS
2) Some Images in the card section do not have an alt attribute

[2021-02-20 22:03] redxzeta commented on #3
interesting. I'll add it to the issues

[2021-02-21 00:05] redxzeta opened #51 "Set an explicit width and height on image elements to reduce layout shifts and improve CLS"

[2021-02-21 00:05] redxzeta opened #52 "Some Images in the card section do not have an alt attribute"

[2021-02-24 11:14] NoorMosia commented on #52
Hi @redxzeta, I would like work on this issue.

[2021-02-28 23:12] #52 closed

[2021-03-12 05:00] Fpj-11 commented on #36
I will try to work on this issue.

[2021-03-12 05:02] Fpj-11 commented on #3
A suggestion I would like to give. Can try for different font.

[2021-03-12 16:38] redxzeta commented on #3
what kind of font u suggest?

[2021-03-12 17:24] Fpj-11 commented on #3
https://fonts.google.com/share?selection.family=Crimson%20Text:ital@1
This one maybe

[2021-03-12 17:53] redxzeta commented on #3
alright did you want to try it out?

[2021-03-13 05:42] Fpj-11 commented on #3
Yes I'll try

[2021-03-13 05:50] Fpj-11 commented on #3
Yes, I will try it out.
I have forked this project but how do i run it on my local machine?

[2021-03-13 14:46] redxzeta commented on #3
There's instructions on the Readme

[2021-05-02 07:46] punndcoder28 commented on #50
Hi @redxzeta . I would like to take this issue up, I was going through the code and I noticed you've used `width: "40%"` which is most likely causing the issue. I think changing this to a fixed width with horizontal padding show fix the issue or increasing `40%` to a higher value should do it. Do you have any suggestions on how this could be done better?

[2021-05-02 07:48] punndcoder28 commented on #51
Hi @redxzeta . Do you have a number in mind? I can take this up as well

[2021-05-02 15:30] redxzeta commented on #50
Maybe using media queries or min, max clamp. Feel free to experiment

[2021-05-02 15:31] redxzeta commented on #51
Not atm. Maybe play around with so I can see the results

[2021-05-03 03:41] punndcoder28 commented on #51
I will update the same thread with results of different values and how they look.

[2021-05-03 03:41] punndcoder28 commented on #50
Sure! Will let you know how different things work out.

[2021-05-03 10:10] punndcoder28 commented on #50
Is this fine @redxzeta
<img width="569" alt="Screenshot 2021-05-03 at 3 38 33 PM" src="https://user-images.githubusercontent.com/32433964/116864628-c98a8d00-ac25-11eb-994d-50776d286ac4.png">

[2021-05-03 10:10] punndcoder28 commented on #50
Is this fine @redxzeta
<img width="569" alt="Screenshot 2021-05-03 at 3 38 33 PM" src="https://user-images.githubusercontent.com/32433964/116864702-e7f08880-ac25-11eb-8713-18f600924f02.png">
<img width="569" alt="Screenshot 2021-05-03 at 3 38 42 PM" src="https://user-images.githubusercontent.com/32433964/116864713-ecb53c80-ac25-11eb-932d-cd2c452bd2d8.png">
<img width="606" alt="Screenshot 2021-05-

[2021-05-03 13:16] redxzeta commented on #50
yes looks great to me :)

[2021-05-04 04:20] punndcoder28 commented on #50
Will create a PR for this.

[2021-05-04 06:04] punndcoder28 commented on #51
Hi @redxzeta . I've used `{ width: 300, height: 200}` for the images and this is the end result on different screens. Any suggestions would be great.
<img width="873" alt="Screenshot 2021-05-04 at 11 32 21 AM" src="https://user-images.githubusercontent.com/32433964/116965906-9ea74400-accc-11eb-9a24-77a12da0b563.png">
<img width="678" alt="Screenshot 2021-05-04 at 11 32 12 AM" src="https://user-ima

[2021-05-06 16:33] redxzeta commented on #51
could use some spacing underneath the card top border. maybe add padding-top 10px?
I am also curious to see what it looks like if the image 100% of the cards width

[2021-05-07 11:48] punndcoder28 commented on #51
These are images with 100% card width with padding at the top.
<img width="1156" alt="Screenshot 2021-05-07 at 5 15 41 PM" src="https://user-images.githubusercontent.com/32433964/117445308-2b196700-af58-11eb-9c64-43adc84e6c62.png">
<img width="920" alt="Screenshot 2021-05-07 at 5 15 29 PM" src="https://user-images.githubusercontent.com/32433964/117445331-310f4800-af58-11eb-93f6-67e5c825ff84.png">

[2021-05-07 13:56] redxzeta commented on #51
Alright how about removing the padding top?
Any thoughts so far?

[2021-05-09 06:02] punndcoder28 commented on #51
Hi. Sorry for the late reply, yeah the top padding doesn't look good. It needs to go. I feel the `100%` is good but then we will have shifts in sizes for different screen sizes.

[2021-05-09 17:36] redxzeta commented on #51
i think we can go with the first option just add the padding top

[2021-05-10 05:10] punndcoder28 commented on #51
@redxzeta Ok. I will go back to fixed width and height and add padding top. Will be creating a PR for this soon.

[2021-05-10 05:18] punndcoder28 commented on #51
Opened PR #54 for both issues

[2021-05-24 05:08] #50 closed

[2021-05-24 05:09] #51 closed

[2021-05-24 05:16] redxzeta opened #55 "name of pet gets too long"
Some pet names get too long and extend the card height.
Maybe set a max number of characters for the pet name.
Open to suggestions.
![image](https://user-images.githubusercontent.com/19883954/119299794-81eb9580-bc14-11eb-9250-823450bcfbf3.png)

[2021-05-24 18:51] SJellen commented on #55
<img width="1071" alt="Screen Shot 2021-05-24 at 2 35 35 PM" src="https://user-images.githubusercontent.com/51421669/119392206-7a240380-bc9d-11eb-8b53-99527766c0e9.png">

Also there is a need to replace some of the character codes with the correct characters. In this case the code is for ' .
The best bet would be to create a function that fixes the special characters and truncates the long names a

[2021-05-24 20:15] redxzeta commented on #55
oh thats a good point

[2021-05-24 20:15] redxzeta commented on #55
did you want to create this issue or should I

[2021-05-25 16:00] SJellen commented on #55
I'll give it a shot. At least I should have the function done quickly.  Look for a PR on Wednesday.

[2021-05-25 16:18] SJellen commented on #55
I was going to add them together as a single js function. But if you prefer they can be broken into 2.
A function for the regex and the  css fix for the truncating.

[2021-05-25 16:24] redxzeta commented on #55
Ahh okay thats fine

[2021-05-26 02:29] #55 closed

[2021-05-27 04:04] redxzeta opened #57 "Create a Login and Register Page"
Create a login and register page.
Fields: username, email, password for user registration
user login: username and password

If you can, add validations and errors

Planning to create a page where users could  share stories about adopting a pet, etc

[2021-05-27 05:20] Saisrinivenkat commented on #36
Assign me I complete this in 2 days

[2021-05-27 06:54] rajdama commented on #57
Hi, Please assign this issue to me! I am new to open source. looking to make contribution!

[2021-05-27 08:28] Saisrinivenkat commented on #36
Doing this with lower version of react-bootstrap is kinda complex.

Updating react-bootstrap to version@1.6.0 solves this issue

Adding container and justifying menu in NavigationBar.js
![image](https://user-images.githubusercontent.com/55131291/119792154-198e0400-bef3-11eb-920d-b2a40363bc17.png)

Then Header will be like this
![image](https://user-images.githubusercontent.com/55131291/119792499-5

[2021-05-27 14:30] redxzeta commented on #57
alright go for it

[2021-05-27 21:05] redxzeta opened #58 "Convert Inline Style to CSS"
There are some files that contain inline style.
Would be better to organize it in css files.
The css file could be in the same folder where it is used unless there's a better suggestion.
May have to override the css from bootstrap

`   <Card style={{ width: "100%", paddingTop: 10 }}>`

[2021-05-28 05:10] rajdama commented on #58
Hi please assign this to me

[2021-05-28 14:59] #36 closed

[2021-05-31 19:59] #45 closed

[2021-06-01 16:07] #58 closed

[2021-06-05 17:45] redxzeta opened #70 "Optmize the Resource page"
Optimize the Resource page for best practices. Some of the code has `<br>` tags or uses `<b>` tags. Feel free to update the css and `Resources.js`

[code]

[2021-06-07 14:42] redxzeta opened #72 "Update the readme"

[2021-06-07 21:28] Abhay2412 commented on #70
Hi, I would like to give a shot at working on this

[2021-06-07 22:34] Abhay2412 commented on #70
Would you like me to just make a commit I think I have something ready for the Resources.js file I have used <p> tags instead of the br tags

[2021-06-08 02:23] redxzeta commented on #70
Did your fork it?

[2021-06-08 03:14] Abhay2412 commented on #70
Will fork it and make a pull request

[2021-06-08 14:43] redxzeta commented on #70
are you still working on it @Abhay2412

[2021-06-08 14:48] Abhay2412 commented on #70
You can have someone else on it thanks for the opportunity though

[2021-06-08 15:44] Sukhamjot-Singh commented on #72
I guess the readme would be better with a description of your website and purpose.

[2021-06-08 15:55] redxzeta commented on #72
yea and probably directions to contribute, fork, pull request.
Think screenshots would be nice too.
Maybe a brief description of the pages.
Any resources or links that could be helpful for new contributors or links to the libraries used

[2021-06-08 20:47] MAZ12211 commented on #70
Hey, @redxzeta I would like to work on this. I should be able to do this using `<p>` tags and **style** them with very little code.

[2021-06-08 23:33] redxzeta commented on #70
Sure

[2021-06-08 23:47] redxzeta commented on #70
@MAZ12211 apologies. It should be fixed now. It was because of eslint and prettier

[2021-06-09 00:43] MAZ12211 opened #73 "yarn Compile error"
Was trying to run the app in development mode so I could make changes. Then this [compile error](https://i.postimg.cc/NFxZMxMW/Shared-Screenshot.jpg) came up after doing `yarn start`
It can't be dismissed at the bottom it says so I can't make yarn ignore/dismiss this.

[2021-06-09 00:48] redxzeta commented on #73
Use yarn format

[2021-06-09 00:51] #73 closed

[2021-06-09 00:51] redxzeta commented on #70
Be sure to update with the latest change

[2021-06-10 00:00] #70 closed

[2021-06-10 02:52] redxzeta opened #75 "Create a Login and Register Page"
Create a page for user login and user register page could include email, username, password.

If possible, add validation checks.

For the navigation bar, implement a drop down from `react-bootstrap`, and then add links to login and register. The title could be `Profile`

Planning to implement supabase to handle the data.

[2021-06-10 02:56] redxzeta opened #76 "Add more charities to Donate page"
If you know any more charities, feel free to add them to `charities.json`. RIght now it is three.

Also taking suggestions to improve the site or add new features to the donate page

[2021-06-10 02:58] redxzeta commented on #72
@Sukhamjot-Singh Could probably get ideas from the about pages or resources page

[2021-06-10 12:09] AbhishekKakad12 commented on #75
Hey! I am new  to open source, could you please assign this one to me?

[2021-06-10 15:41] AbhishekKakad12 commented on #75
Can I use material ui library to implement it ?

[2021-06-10 16:03] redxzeta commented on #75
Would prefer to use `react-bootstrap` to not get confusing

[react-bootstrap docs](https://react-bootstrap.github.io/components/forms/)

[2021-06-11 07:43] AbhishekKakad12 commented on #75
OK

[2021-06-11 09:21] AbhishekKakad12 commented on #75
login and register page created , to push the code I have to create new branch or I can push the code in main branch?

[2021-06-11 13:53] redxzeta commented on #75
make a pull request with your branch

[2021-06-15 03:33] #75 closed

[2021-09-01 15:03] redxzeta opened #78 "Backend Implementation"
Wondering what kind of backend should be implemented?

Purpose of it would be for users to sign up, login and share stories or favorite pets

Thinking of using Supabase, Express or Nest.

Any suggestions or ideas would be appreciated

[2021-09-16 15:41] redxzeta opened #79 "Migrate to Bootstrap 5"
Migrate to Bootstrap 5 [docs](https://react-bootstrap.github.io/getting-started/introduction/)

[code]

these need updating

There might be some breaking changes and may need to update the code

[2021-09-16 17:43] emraftis commented on #79
Hey @redxzeta! I just cloned the repo and I'll try working through updating Bootstrap to 5.1.0!

[2021-09-17 03:58] #79 closed

[2021-09-17 03:58] #46 closed

[2021-09-20 18:21] #3 closed

[2021-09-20 18:21] #31 closed

[2021-09-20 18:21] #72 closed

[2021-09-20 18:21] #76 closed

[2021-09-20 18:21] #78 closed

[2021-09-28 15:50] redxzeta opened #81 "Revamp Landing Page"
Revamping the home page

Two sections
section1 New background images of pets could be from free stock photo
Title and Adopt a buddy today could placed where you think looks best

section 2
would have the featured pet cards
implement a transition fade in
button to get another featured pets cards with another transition

[2021-09-28 15:54] redxzeta opened #82 "Add more orgs in donation page"
Add some organizations or places to donate in `charities.json`

Feel free to create a pull request since there could be a lot of organizations or places

[2021-09-28 16:06] redxzeta opened #83 "Open to feedback, enhancements or features"
If there are any ideas you could think of, could make an issue or pr

[2021-09-28 16:11] redxzeta opened #84 "Adding border to contributors"
In the contributors page, some of them have a white background blending it in.

Add a black border around it or variety of colors

[2021-09-28 16:58] MAZ12211 commented on #84
Hello. Assign me this issue.

[2021-09-28 17:43] redxzeta opened #86 "Add title and onHover effect on Pets.js"
There isn't a title for each picture.

Add an onhover effect over each image which shows the text for the type of pet
add onhover effect color over it something like this below. Feel free to experiment and variety of colors

![image](https://user-images.githubusercontent.com/19883954/135137855-6dbb8ba5-0b32-4c14-b3d3-2b9f30bc76a0.png)

[2021-09-28 17:44] harishfalco commented on #84
Hello redxzeta , I am looking forward to work on this please assign it to me

[2021-09-28 17:46] harishfalco commented on #82
Hello redxzeta please assign it to me, I looking forward to contributing to this issue

[2021-09-28 18:30] redxzeta opened #88 "Add a 404 page"
Add a 404 page when a user tries to enter a page that does not exist

and add an image of pets or something

put a button that helps users redirect to the home page, button redirect to  `/about` , and button for `/pets`

[2021-09-28 19:19] tuanthanh2067 commented on #88
Hello there, I'm interested in your project and wanted to work on this issue. Can you

[2021-09-28 19:20] tuanthanh2067 commented on #88
Hello there, I found this project quite interesting and wanted to contribute. Can you please assign me to this issue?

[2021-09-28 20:42] rajdama commented on #86
I can do it.

[2021-09-28 21:08] redxzeta commented on #88
Sure. are you participating in hactoberfest? if yes, create a pull request in October

[2021-09-28 21:09] redxzeta commented on #86
Sure. Be sure to create a pr on October for hactoberfest :)

[2021-09-28 21:15] tuanthanh2067 commented on #88
I will. But I have a question, do we really need `/about` button and `/pets` button in the 404 page because users can use the navigation bar to redirect?

[2021-09-28 21:29] redxzeta commented on #88
Oh that's true. I guess u don't have to put it then

[2021-09-29 01:24] redxzeta commented on #84
Be sure to create a pull request in October for Hactoberfest

[2021-09-29 04:31] rajdama commented on #86
Okay : )

[2021-09-29 05:11] K-ash-ish commented on #81
Hello, Can I work on this issue?

[2021-09-29 13:08] Devenkapoor7303 commented on #81
Hey, Can I work on this issue?

[2021-09-29 16:06] redxzeta commented on #81
@Devenkapoor7303 is it alright if you pair up with @K-ash-ish ?

[2021-09-29 16:23] Devenkapoor7303 commented on #81
Yeah np

[2021-09-29 23:58] redxzeta opened #89 "New Logo for the site"
Anyone want to create a new logo for the site?

Replace PawHub in the Navigation bar with the logo

Add the logo to the site

[2021-09-30 05:03] K-ash-ish commented on #81
Thank you We are on it.

[2021-09-30 15:40] nirajacharyaa commented on #89
Hey, I would like to give a logo to it.
![image](https://user-images.githubusercontent.com/54741119/135487184-cccff2f1-f517-424d-98ae-c71dbb08a660.png)
Is this logo fine?

[2021-09-30 19:27] #88 closed

[2021-09-30 22:23] yashika2406 commented on #89
I have solved this issue
PR link:
https://github.com/redxzeta/Awesome-Adoption/pull/91
kindly merge

[2021-10-01 07:49] Devenkapoor7303 commented on #81
@redxzeta in section 1 are you talking about the background image for the landing page or are you talking about the background images for the cards?

[2021-10-01 10:07] rajdama commented on #86
@redxzeta  I had made the pull request.

[2021-10-01 14:49] #84 closed

[2021-10-02 14:28] redxzeta commented on #81
background image for landing page

[2021-10-03 04:19] Devenkapoor7303 commented on #81
Okay

[2021-10-03 07:26] PrajaktaSathe commented on #89
I can try!

[2021-10-04 04:48] PrajaktaSathe commented on #89
I've created a new logo for this project! But, I'm a complete beginner to React and don't want to mess things up😅. So, could you tell me in which folder/where should I add the logo?
Thanks!

[2021-10-04 15:46] redxzeta commented on #89
you could put it in `src/components/layout`

and then open the file `NavigationBar.js`

then at the top have something like `import Logo from './imgname.ext'`

Create a pull request so i can help u out too :)

[2021-10-05 06:16] PrajaktaSathe commented on #89
I have opened up a PR #94
Please let me know if it looks good!
Thank you!

[2021-10-05 14:23] #86 closed

[2021-10-05 19:38] redxzeta opened #96 "Add Divider in NavigationBar"
Add `<NavDropdown.Divider />` in the dropdown in the NavigationBar to separate All Pets

[2021-10-05 19:42] redxzeta opened #97 "fix github button"
due to the migration to using bootstrap 5, there were variable changes

in the about page, the github button needs fixing and would need to be change to use `var(--bs-primary)` in the css

[2021-10-05 19:45] redxzeta opened #98 "Replace links with img in about page"
replace with image  ie youtube image for youtube link

![image](https://user-images.githubusercontent.com/19883954/136092173-db1a93ac-0eb7-46a4-ad53-662cde349b6d.png)

[2021-10-05 19:47] juanmaotegui commented on #98
Can I work on this?

[2021-10-05 19:57] zivkaziv commented on #97
On it

[2021-10-05 20:19] zivkaziv commented on #97
https://github.com/redxzeta/Awesome-Adoption/pull/99

[2021-10-05 20:23] zivkaziv commented on #96
I'll be happy to take this as well

[2021-10-05 20:27] zivkaziv commented on #96
<img width="429" alt="Screen Shot 2021-10-05 at 23 26 54" src="https://user-images.githubusercontent.com/9402714/136097612-226fde66-c2a5-4a09-8182-232adb40e3e7.png">
Do we want the divider here?
Or between each animal? Dog | Cat...?

[2021-10-05 20:43] juanmaotegui commented on #98
I created the #101  for this issue. Can you review it? Thanks!

[2021-10-05 21:29] #98 closed

[2021-10-05 21:32] #96 closed

[2021-10-07 03:50] #89 closed

[2021-10-08 14:15] redxzeta opened #103 "fix the nested p tags in Resources.js"
first paragraph has nested `<p>` in `Resources.js`

separate them

Feel free to modify or update the paragraphs

[2021-10-08 15:01] #103 closed, assigned to NicolasBiondini

[2021-10-08 15:18] redxzeta opened #105 "Update Readme"
Update readme so beginners or newcomers clone project,  set up a working environment, tips for new contributors, navigating through the project, links to bootstrap and react-bootstrap, mention each page has their own folder and anything you can think of

[2021-10-08 15:33] redxzeta opened #106 "Updating PetInfo.js"
update pet state to `  const [pet, setPet] = useState({});`

instead of ternary operator ` return pet ? ... : ..` line 37
use if
if pet is empty return the `    <Spinner />`
if not return the petInfo ` <div className="petInfo">...`

[2021-10-09 00:26] #106 closed, assigned to YoussefMahmod

[2021-10-10 18:04] redxzeta opened #108 "Add spacing between the rows in Contributors"
![image](https://user-images.githubusercontent.com/19883954/136707868-11547f61-abbe-4c10-b42d-81b213aa7e29.png)

[2021-10-10 18:08] ArturBa commented on #108
I'm interested, please assign me

[2021-10-10 18:10] redxzeta opened #111 "Put a Random option in pets"
Put a random option in `Pets.js` that would randomly take a user to a random pet

You can use an image of a question mark or your imagination

Apply the same onHover style effect from the other animals as seen on  page

[2021-10-10 18:35] merikettapearl212 opened #113 "image stretched"
added css to fix stetch in images

[2021-10-10 18:36] merikettapearl212 commented on #113
please add hacktoberfest label thank you

[2021-10-10 19:20] #108 closed, assigned to ArturBa

[2021-10-11 13:59] redxzeta opened #116 "Fix Register"
Planning to add supabase to the site

Change branch to `add_supabase`

add a title: Signup Form

The input fields are too wide condense it

Add a border around the form

round borders

put a background color maybe a light gray

put the form in the middle of the page

feel free to be creative

make a pull request to `add_supabase`

[2021-10-11 20:00] NicolasBiondini commented on #116
@redxzeta  Now it's done.

[2021-10-11 21:12] #116 closed, assigned to NicolasBiondini

[2021-10-12 01:58] redxzeta commented on #105
@yashguptaji are you still working on this?

[2021-10-12 04:47] redxzeta opened #122 "Remove github button"
![image](https://user-images.githubusercontent.com/19883954/136892958-afcd4908-0c0a-4c87-93ca-9238a649237e.png)

get a github icon/img and place it in the same row as youtube and devpost

[2021-10-12 04:48] 1337-ishaan commented on #122
Pls assign it to me

[2021-10-12 04:50] nemynigam commented on #122
please assign it to me

[2021-10-12 04:54] yashguptaji commented on #105
no, sorry I had no internet for 2 days, please remove me from this
thanks

[2021-10-12 14:02] #105 closed

[2021-10-12 14:59] redxzeta opened #125 "Update Readme for beginners"
Instructions on installing yarn and differences between yarn and using npm

setting up the environment

How to fork the repo and make a pull request, contribute

links to bootstrap 5 and react bootstrap, react router

Brief description of the folder structure each page has their own folder in components

setting up prettier in vscode and auto format on save

[2021-10-12 15:06] redxzeta opened #126 "Add tests"
I am not too familiar with testing and would like some help to implement them

[2021-10-12 15:53] redxzeta opened #127 "Create Login Page"
# Planning to add supabase to the site

### Change branch to `add_supabase`

## Login Page

Create a sign in page could be similar to `Register.jsx`

put it in the accounts folder

*feel free to update `Register.jsx` styling too

Fields are Email and password

use `useForm` hook  for onChange, value in the inputfields look at `Register.jsx`

## App.js

Add a Route in App.js `/login`

## Navbar

In

[2021-10-12 16:24] rajdama commented on #127
I can do it.

[2021-10-12 16:49] iamhardikat11 commented on #125
Hey, @redxzeta I am good at documentation can I too contribute for this issue. I am  Sophomore looking for Open Source Work.

[2021-10-13 02:08] Seagullible commented on #126
I can take a look at this

[2021-10-13 04:26] nemynigam opened #130 "Feature Suggestion"
There Is No Add Details Feature For Pet Available For Adoption
Till Now We Can Add Pets For Adoption Only By Backend
But there should be a feature in which a user can add details if he/she found any dog for adoption nearby him/her
I hope anyone works on this
it's like submit details of pet available for adoption page or dialog box like

[2021-10-13 05:35] nguyenhung15913 commented on #127
Hi, I am interested in this issue, could you please assign it to me thanks.

[2021-10-13 14:40] redxzeta opened #131 "Add filtering in Donation page based on location"
There needs to be more filtering based on the location as the list gets bigger

[2021-10-13 16:28] iamhardikat11 commented on #125
Started but not finished.

On Wed, 13 Oct 2021, 20:07 Nathan, ***@***.***> wrote:

[2021-10-13 16:34] redxzeta commented on #125
@iamhardikat11 take your time

[2021-10-14 02:56] Seagullible opened #132 "Feature suggestion - Geolocation"
If we added geolocation, we could give the user's zip code to the Petfinder API call right away. That way, the animals that show up on the home page would be results from the user's zip code, instead of the default 19019.

It would be best to do some research and find the least intrusive geolocation library for this, as we would just need the zip code.
We might be able to do this with the built-in

[2021-10-14 03:11] redxzeta commented on #132
yea looks like you could do lat and longitude

![image](https://user-images.githubusercontent.com/19883954/137244596-d4bb03fd-6451-4146-8164-dd3d0f2a68f2.png)

[2021-10-14 17:03] #131 closed, assigned to SaiSridhar783

[2021-10-14 19:18] redxzeta commented on #132
yea

[2021-10-15 18:29] redxzeta opened #136 "add a profile page"
beginning stage

Feel free to be creative

switch branch to `add_supabase` after forking

Create file `Profile.jsx` in accounts folder

Create a `<Route>` in `App.js`

this would just be a placeholder until I set up Supabase and configure the tables

There should be a title at the top
placeholder img round for now

a title that says "My Stories"

Put two Cards with lorem ipsum text

make a pull re

[2021-10-15 19:03] redxzeta opened #137 "Add Tooltip on Contributors"
Add the Tooltip with the overlay trigger from react-bootstrap

in `About.js` where the contributors are

When user hovers over someone, should show the github username

https://react-bootstrap.github.io/components/overlays/#tooltips

[2021-10-15 21:34] #132 closed

[2021-10-16 04:25] knackofabhinav commented on #136
Can I work on this? Thank you!

[2021-10-16 15:09] #137 closed

[2021-10-16 16:58] redxzeta opened #142 "ui revamp"
if anyone wants to help with the ui, come join  [Discord](https://discord.gg/2UxwrKxCPV)

discussing some changes to it and need some help

[2021-10-17 19:09] #125 closed

[2021-10-19 03:34] redxzeta opened #145 "Create a Story Page"
## Important

Switch branch to `add_supabase`

## Create files

create a folder in `components` called stories

in the folder create a file called `Stories.jsx`

You could also place your css files here

## Details

The page consists of user stories with a link to read them

## First Section

Title would be User Stories

At the top, there would be a button filtering by location, date and then a li

[2021-10-19 04:12] redxzeta opened #146 "set up useContext for the token"
setup useContext for the token for the petfinder api seen on App.js

and edit the other files that uses the token

[2021-10-19 14:57] #146 closed, assigned to anuragb26

[2021-10-19 14:57] redxzeta opened #148 "Remove axios and use fetch"
find the files that use axios and switch to using fetch

[2021-10-19 15:14] redxzeta opened #149 "Implement new card design"
Implement this new design of the card

![image](https://user-images.githubusercontent.com/19883954/137939646-53a89ca2-9aed-4781-96ca-5b61354f3b91.png)

[Figma](https://www.figma.com/file/0oURLxJldshSkCOyv0Cdsc/Pawternity-Copy?node-id=0%3A1)

[2021-10-19 16:20] fallen-ecstasy commented on #149
@redxzeta I have a Ques, Do I only have to create the Card Component or should I change the home page layout?

[2021-10-19 17:02] redxzeta opened #151 "Add tool tip to youtube, devpost, github in About page"
Add a tool tip similar to the contributors here

![image](https://user-images.githubusercontent.com/19883954/137957702-4b94d7b1-9a12-48f3-8943-ad79ffc4ff62.png)

[2021-10-19 17:51] EstablishedShark commented on #151
hi, id like to take this up

[2021-10-19 20:34] Akku2016 commented on #151
hi, can I make a PR for this issue

[2021-10-19 20:38] redxzeta commented on #151
sure

[2021-10-19 21:48] Akku2016 commented on #151
hi, In morning I will make a PR because I am having internet issue.

[2021-10-19 23:45] redxzeta opened #154 "Add a button to allow user to search by their lat lng"
## In `PetType.js`

- [ ] clicking on a button allows the user to search based on lat long
- [ ] Remove the zip code line
![image](https://user-images.githubusercontent.com/19883954/138005142-fd6dc960-efd7-4f66-9d2f-beb002d306f5.png)

- [ ] Make sure its mobile responsive

[2021-10-20 00:18] Toshiuk commented on #154
I did these changes, but I was not sure if I should have removed the default behaviour to search by location, to just happen when the button is clicked.

[2021-10-20 00:25] #154 closed

[2021-10-20 00:30] redxzeta opened #156 "issue with changePage in PetType.js"
## Bug

In `PetType.js`

[code]

`findPets` has been modified to take in location.

- [ ] Make it so users could find it by either user location or zipcode based on what they selected
- [ ] In `findPets`, put `setLoading(false)` in finally

[2021-10-20 05:04] redxzeta opened #158 "Revamp lookup animal page"
Currently look like this and looks too plain in `PetInfo.js`
![image](https://user-images.githubusercontent.com/19883954/138030669-58cee571-7d74-4be0-b942-355a51c06e79.png)

- [ ] Revamp the info box
- [ ]  add `mailto: ` for the email
- [ ] add spacing between pics and the infobox
- [ ]  add a button that copies a link so users can share it

feel free to suggest ideas or be creative

[2021-10-20 13:31] redxzeta commented on #158
Current page

[2021-10-20 14:30] #156 closed, assigned to evertcode

[2021-10-20 15:21] redxzeta opened #162 "Name gets too long in the card"
in `Home.js`

![image](https://user-images.githubusercontent.com/19883954/138120608-1e4dd616-6f7d-4a25-a37d-f09a33e4727d.png)

- [ ] create a utils folder for `nameCleaner` function from `PetType.js`
- [ ] use it in both `PetType.js` and `Home.js`

[code]

[2021-10-20 17:08] #162 closed, assigned to nobody

[2021-10-20 18:08] redxzeta opened #166 "Apply new card design to PetType.js"
- [ ] Apply new design from `Home.js` to `PetType.js`
- [ ] Make it reusable and create a file called `PetCard.jsx` in the `layout` folder and pass in props
- [ ] The placeholder img looks cramped in the new card design
- [ ] may have to adjust the css

![image](https://user-images.githubusercontent.com/19883954/138147591-0a927c3e-d3df-4862-81ed-9ee1d65ba990.png)

[2021-10-20 18:20] rupalisingh commented on #166
Hi @redxzeta,

can you please assign this issue to me?

[2021-10-20 18:35] redxzeta opened #167 "New Spinner"
New Spinner that is pet related

Examples

- Spinning Paw logo
- Growing Paw logo
- Feel Free to suggest new ideas or creative

## TASKS

- [ ] Create New Spinner
- [ ] Put New spinner in `/shared/Spinner`
- [ ] Edit the index.js in `/shared/Spinner` to use the new Spinner

[2021-10-21 14:17] #142 closed

[2021-10-21 14:22] #167 closed, assigned to akshay399

[2021-10-22 03:25] redxzeta opened #172 "Disable button until user inputs valid zipcode in PetType.js"
- [ ] Disable the go button until user inputs a valid zipcode
- [ ] show an error alert when user correctly puts 5 valid numbers but is not a valid zipcode and also disable the button

[2021-10-22 04:11] redxzeta opened #173 "Add border and title"
In `About.js`

- [ ] add a border to the youtube, devpost, github just like the border from contributors
- [ ] add a title called Links

[2021-10-22 04:20] redxzeta opened #174 "Add a Modal Donate Form for Donate"
switch branch to `paw_dev`

- [x] Add a Modal Form so users can submit an org
- [x] A button to open the modal form
- [x] fields should be based from the `charities.json`
- [x] Validation that all the fields are filled out, `founded` is number,
- [x] show errors if invalid or empty
- [x] Make a pull request to `paw_dev`

[2021-10-22 04:51] khush021 commented on #174
Can I take this?

[2021-10-22 15:21] #172 closed, assigned to sanyogchangmai

[2021-10-23 00:31] #166 closed

[2021-10-23 00:47] redxzeta opened #177 "PetType fixes"
![image](https://user-images.githubusercontent.com/19883954/138535605-6c543c9e-6987-4d6f-8030-e322056f109b.png)

![image](https://user-images.githubusercontent.com/19883954/138535854-194e1173-580f-4e5f-b275-f8be1f9d60c9.png)

- [ ] Put go in the same line with zip code
- [ ] In the local version, the card header uses bootstrap background color instead of `#fff` from
- [ ] bottom part of the card n

[2021-10-23 01:06] redxzeta opened #178 "Put a Pet Icon next to the name of the pet in the card"
Example: https://www.figma.com/file/0oURLxJldshSkCOyv0Cdsc/Pawternity-(Copy)?node-id=0%3A1

Apply the icons to the corresponding pet

- [ ] Dog [icon](https://www.flaticon.com/free-icon/dog_194279?term=dog&page=1&position=35&page=1&position=35&related_id=194279&origin=search)
- [ ] Cat [icon](https://www.flaticon.com/free-icon/cat_2324723?term=cat&page=1&position=20&page=1&position=20&related_id=2

[2021-10-23 01:18] redxzeta opened #179 "Donate card width issue"
width isnt `100%`

![image](https://user-images.githubusercontent.com/19883954/138536820-5b91616a-75cb-4674-ab59-6e84990924ce.png)

[2021-10-23 14:36] redxzeta opened #183 "Cards look cramped at 768px in PetType.js"
![image](https://user-images.githubusercontent.com/19883954/138560788-f0e25319-cd47-4b75-af8e-597cd0f2c9b5.png)

I was thinking either making it 2 cards per row or somehow adjust it

[2021-10-23 14:58] redxzeta opened #184 "Create Forgot Password page"
switch branch to `add_supabase`

- [ ] Create a form with just email with the title Reset Password
- [ ] You can follow the [docs](https://react-supabase.vercel.app/documentation/auth/use-reset-password)
- [ ] copy the format of the submit button from `Register.jsx`
- [ ] use the `useForm` hook to handle the state

format will be similar to `Register.jsx`

[2021-10-23 18:50] redxzeta opened #185 "Hello World"
Hello, Everyone ✨, Hope you guys are doing fine! 🙌

**Here are some points to keep in mind**

- Be nice and respectful.
- Make proper commit messages and document your PR well.
- Always add comments to your code.
- Issues would be served on "First Come First Serve" basis.
- Please do not work on issues assigned unless it has been unassigned or inactive
- Code would be reviewed before they are merg

[2021-10-23 21:50] #158 closed, assigned to sanyogchangmai

[2021-10-24 11:26] gayatrivjoshi opened #187 "UI fixing"
The font used for the website can be improved. I can also work on the colors as they look too warm. The donate page is not properly responsive.

[2021-10-25 18:47] #184 closed, assigned to cgilroy

[2021-10-25 18:55] redxzeta opened #190 "Create Reset Password page"
Switch branch  to `add_supabase`

create folder in accounts called `settings`

- [ ] Create reset password page for the user
- [ ] Redirect unauthenticated users to home page
- [ ] route should be `reset-password`
- [ ] have the user input the new password twice and check if both are the same
- [ ] have some message or alert that they are valid
- [ ] add validation logic must be over 8 letters
- [

[2021-10-26 04:22] #127 closed, assigned to rajdama

[2021-10-26 04:28] redxzeta opened #191 "change font in footer"
change the font in the footer to use the same font from the cards

[2021-10-26 17:23] #191 closed, assigned to AnimeshMore

[2021-10-27 14:10] redxzeta opened #196 "The cards are not centered in PetType"
![image](https://user-images.githubusercontent.com/19883954/139082701-eed7b906-31b7-49a4-a32a-6ae1be4164cb.png)

switch branch to `pawternity`

make a pull request to branch `pawternity`

join [discord](https://discord.gg/VuUpZhkZ) if you need credentials

[2021-10-27 23:58] redxzeta opened #198 "Add a private Route"
switch branch to `add_supabase`

Add a Private route for resetPassword if user is authenticated from supabase

you can use `useAuth()` to check the session

There will be more pages needed for private route in the future

- [react router docs](https://reactrouter.com/web/example/auth-workflow)
- [react-supabase](https://react-supabase.vercel.app/)
- [supabase](https://supabase.io/docs)

make a pr

[2021-10-27 23:58] #190 closed, assigned to cmagallon1

[2021-10-28 00:01] #196 closed, assigned to SudhiMohan

[2021-10-28 01:39] redxzeta opened #199 "Profile design help"
switch branch to `add_profile`

Would like some opinions or fixes on the profile page

![image](https://user-images.githubusercontent.com/19883954/139171255-219df81c-ee97-4614-aabc-5b0f74987845.png)

below the profile pic and user name would be a list of stories from the user

if anyone has a better design or wants to revamp it to make it better

[2021-10-28 05:32] redxzeta opened #200 "Create a file for TokenContext.Provider"
switch branch to `pawternity`

- [ ] Create the file in the folder `context`
- [ ] put the useEffect from `App.js` inside
- [ ] create a function called `useToken()` similar to `useAuth()` for ` const token = useContext(TokenContext);`
- [ ] create inital state for `createContext`
- [ ] return the state of token and errors from fetching
- [ ] make a pr to the branch `pawternity`

[2021-10-28 18:56] redxzeta opened #201 "Create tests for PetType"
- [ ] create `petType.test.js` in `__tests__` folder in `pets`
- [ ] create test cases for the zip code could be like invalid zipcode expect disabled button

[2021-10-29 14:16] #198 closed, assigned to drew5494

[2021-10-29 18:59] akshay399 opened #204 "improve ui of resources page"

[2021-10-29 19:16] redxzeta commented on #204
What suggestions do you have?

[2021-10-29 19:24] akshay399 commented on #204
put those headings in different sections like a box and add margins on suitable places

![image](https://user-images.githubusercontent.com/55823965/139490879-34a99541-4551-45d4-8f65-13cd982a164c.png)

[2021-10-29 19:28] redxzeta commented on #204
oh i see. did you want to work on it?

[2021-10-29 19:47] akshay399 commented on #204
yes i do, please assign it to me

[2021-10-30 06:38] dev-abir opened #205 "small UI improvements"
I think it would be better to put "Pawternity Hub" on the navbar itself in the home page.
Another issue, the dogs in the animation near the bottom of the homepage looks like they are elongated....... Is an animation necessary..?
Then, the images are without any frame... Maybe we can add shadows, make them rectangular (or round rectangle) instead of oval.
These small changes will probably make the

[2021-10-30 13:50] redxzeta commented on #205
Yea it could sure use those improvements. Can u post screenshots of the pages that needs work?

[2021-10-30 14:20] akshay399 commented on #204
hi @redxzeta i made a [PR](https://github.com/redxzeta/Awesome-Adoption/pull/206) please review it and suggest changes if any, also will this pr be included in hacktoberfest? asking because you didnt mention the tag here.

[2021-10-30 14:29] #199 closed

[2021-10-30 14:42] redxzeta commented on #145
@suhhee1011 how are things going?

[2021-10-30 16:05] redxzeta opened #207 "Add a modal to profile"
Switch branch to `add_profile`

- [ ] add a button on Profile that opens up a modal
- [ ] users should be able to change username, description
- [ ] add validation username should not be blank
- [ ] add a button that submits the update
- [ ] add a button to cancel and show a warning

[2021-10-30 16:08] redxzeta opened #208 "PetInfo Testing help"
Running into some issues in `petinfotest.js`

Trying to test the data in PetInfo to see if it comes up by mocking the request but it gets stuck on the spinner

Switch branch to `paw_tests`  to check it out

[2021-10-30 16:39] dev-abir commented on #205
I just did one small change... simple though, see whether you like it or not.
I am having some problems regarding generation of the API key, it would be nice if you could help me out, so that I could proceed with the rest of the changes.

[2021-10-30 16:42] redxzeta commented on #205
Join the discord so I can send u the api key

[2021-10-30 18:23] #204 closed

[2021-10-30 18:29] #205 closed

[2021-10-30 20:10] suhhee1011 commented on #145
Hi @redxzeta, I am still working on it :)

[2021-10-31 03:06] dhillonks commented on #207
Can I work on this?

[2021-10-31 06:43] dhillonks commented on #207
@redxzeta Created a pull request, Please take a look: https://github.com/redxzeta/Awesome-Adoption/pull/210

[2021-10-31 14:19] dev-abir opened #213 "image size is not consistent, in pet info page"
The image size of the pets' image in the slider, at the top of pet info page is not consistent.
Moreover, the images doesn't change on sliding, in mobile, and there is no button for going to the next/previous image.
Currently, after viewing one image, the user have to scroll down, then click on another image.
This could be improved, and bootstrap has a gallery/image slider component, so we can use

[2021-10-31 18:16] Akku2016 commented on #201
hi, i am doing first time this one  I tried but little bit difficult for me because code i can write
 this is test case I thought this one i could do . i tried like this

import React from 'react';
import { render, screen, cleanup} from "@testing-library/react";

 import Search from "../Search";
 afterEach(cleanup);
test('should render zipcode disabled', () =>{
  const {getByTestId}= render(<Searc

[2021-10-31 20:58] redxzeta commented on #213
oh yea thats a good idea

[2021-10-31 23:36] #200 closed

[2021-11-01 03:05] redxzeta opened #216 "update username and description to supabase"
switch branch to `add_profile`

- [ ] update the username and description with the edit modal
- [ ] you can use `useUpdate` from [react-supabse](https://react-supabase.vercel.app/documentation/data/use-update)
- [ ] update the `EditProfileModal` to use `useForm` custom hook and put name in `<Form.Control>`
- [ ] the init state would be the current user's username and description and pass it to the

[2021-11-01 03:41] #207 closed

[2021-11-01 19:20] #145 closed

[2021-11-01 22:32] #216 closed

[2021-11-08 08:21] AkshayHere commented on #174
Is this still open?
I would like to contribute to this one

[2021-11-08 21:57] redxzeta commented on #174
lmk if you have any questions or join discord if you need any help

[2021-11-09 06:04] AkshayHere commented on #174
Sure :)

[2021-11-12 13:10] #174 closed

[2021-11-16 19:59] drew5494 commented on #213
Hi can I work on this?

[2021-11-16 23:52] redxzeta opened #222 "register and login unit testing"
To expand the test coverage, we should test login and register components.

## Description
Add tests for the following components:

- src/components/SLogin
- src/components/Register

Use `src/testServer.js` to mock server requests. Follow `about.test.js` as a reference if needed:
https://github.com/redxzeta/Awesome-Adoption/blob/main/src/components/about/__tests__/about.test.js
https://github.com/

[2021-11-16 23:53] dhillonks commented on #222
@redxzeta Can I work on this?

[2021-11-17 14:23] rclee91 commented on #208
Hello, just letting you know that `paw_tests` branch doesn't exist.
So, I'm wondering if you'd like someone to create tests for `petInfo.js`, or if this is a closed issue. Thanks!

[2021-11-17 14:52] redxzeta commented on #208
Yea creating tests for `petInfo`

[2021-11-17 14:53] redxzeta commented on #208
Just make a branch based off on `paw-dev`

[2021-11-17 15:37] rclee91 commented on #208
In that case, could you assign this to me please?

[2021-11-17 20:34] #183 closed

[2021-11-18 18:49] #222 closed

[2021-11-19 05:11] redxzeta opened #226 "Upgrade to React-router v6"
- Fix the Routes in `App.js`
- Refactor the Redirects in `SLogin` and `Register`
- Fix PrivateRoute
- Might need to fix some tests
- switch branch to `paw-dev`
- make a pr to `paw-dev`

[2021-11-19 06:32] kokoaono commented on #226
Hello @redxzeta
Could I have a go at this please??

[2021-11-19 18:03] #208 closed

[2021-11-20 19:07] redxzeta opened #227 "Restructuring the fetching pet api token"
Would like some suggestions because there have been issues fetching the pet api for the token as null

@rclee91

[2021-11-22 16:53] #226 closed

[2021-11-23 01:22] redxzeta opened #230 "Testing Pet.js"
- [x] expect elements from linkdata to be in document with images and button
- [x] usereevent onhover expect the `type` to show up
- [x]  mock linkData with different values

[2021-11-23 01:25] kokoaono commented on #230
:)

[2021-11-23 19:41] rclee91 commented on #227
I can try and have a poke at this. It was bothering me as well when I was writing tests for petInfo :D

[2021-11-24 20:26] redxzeta opened #231 "add tests for donate page"
- [ ] test for filtering
- [ ] drop down
- [ ] expecting the elements from the list

open to other test cases too

[2021-11-24 22:35] redxzeta opened #232 "create modal form for user story"
create a branch based on `paw-dev` and create pr to `paw-dev` when done

- [ ] create a modal form for user story
- [ ] fields should have title, description, location
- [ ] check that the fields are not empty
- [ ] post valid story to the table `stories` using [react-supabase](https://react-supabase.vercel.app/documentation/data/use-insert)
- [ ] display any errors for the user
- [ ] use a spinne

[2021-11-25 15:52] LuigiZaccagnini commented on #231
I can take this issue.

[2021-11-26 18:15] #231 closed

[2021-11-28 01:22] hlavu commented on #232
Hi @redxzeta, I’d like to work on this issue. Please it to me.

[2021-11-29 16:21] #230 closed

[2021-11-30 18:07] redxzeta commented on #232
let me know if you need help setting up the environment

[2021-11-30 18:44] hlavu commented on #232
Yes sure. Thank you.

[2021-11-30 19:41] redxzeta commented on #227
how are things going?

[2021-11-30 20:29] rclee91 commented on #227
Hey sorry, I've been a bit busy last week.
But I've been trying to do some research on this.

Basically, I added some basic console logs in `Pet Info` to see what comes out.
![image](https://user-images.githubusercontent.com/32626950/144122674-e46c1d30-4f0b-404d-b1ab-8595107f2ad9.png)

and this is what I get from a single page load.
![image](https://user-images.githubusercontent.com/32626950/14412

[2021-11-30 20:37] redxzeta commented on #227
yea thats fine. I was checking out [swr](https://swr.vercel.app/)  and [react-query](https://react-query.tanstack.com/) to replace the useFetch custom hook since it caused some problems i think.

[2021-11-30 20:54] rclee91 commented on #227
Oh neat.
I think its a good idea to use available working tools instead of coming up with custom ones.
Do you have a personal preference which of the two to use?

[2021-11-30 21:31] rclee91 commented on #227
Ok, I'll try restructuring with swr

[2021-12-01 22:12] hlavu commented on #232
Hi @redxzeta, here is the form I just created. Please take a look to see: does this design have anything you want to change or it is fine.

![image](https://user-images.githubusercontent.com/44437742/144321997-df25a782-b936-4a9a-b72b-03221affb130.png)

[2021-12-02 14:32] #213 closed

[2021-12-02 17:22] redxzeta commented on #232
yea that looks fine. you could remove address and postal code and put Location.

If you know a way that lists the countries/cities, you could put a dropdown for it

[2021-12-02 17:30] redxzeta opened #239 "Refactoring storyCleaner and nameCleaner"
- [ ] Get all the functions and put it in a folder called `utilsCleaner` in `utils`. File name should be `index.js`
- [ ] Make all the functions `export const ....`
- [ ] Fix any of the affected files that uses them
- [ ] Fix `nameCleaner` so it's compatible previous versions of node ie node 14.x; for example
To something like `.replace(/&#039;/gim, "'")`

[2021-12-05 14:26] redxzeta opened #241 "Create Placeholder for the cards"
Use the placeholder components from [react-bootstrap](https://react-bootstrap.github.io/components/placeholder/) for the cards in `Home.js` and `PetType.js`

It will replace the spinner

make a branch based off on `paw-dev`

[2021-12-08 21:28] redxzeta opened #250 "Refresh pet cards in the home page"
Create a refresh button that grabs another random 3 pets and displays them in the card in the home page.

[2021-12-09 04:22] Amit91848 commented on #250
Please check my pr

[2021-12-09 05:44] Amit91848 commented on #250
Can I work on this issue?

[2021-12-09 06:48] Amit91848 commented on #250
Check my pr #252

[2021-12-09 14:41] #232 closed

[2021-12-09 18:46] JiaHua-Zou commented on #241
is this issue been solve, if not I can try to add this feature.

[2021-12-09 22:11] #250 closed

[2021-12-09 22:41] redxzeta opened #253 "Displaying User Stories"
display the user stories from supabase

![image](https://user-images.githubusercontent.com/19883954/145485926-24c1043e-9e59-41d9-a800-60f466e95a8e.png)

- [ ] Left side of the card from top to bottom: User profile pic, username, country (but if you can make room, include the region)
- [ ] right side of the card: title of the story
- [ ] use react-supabase to fetch user stories and name of table `s

[2021-12-09 22:51] redxzeta opened #254 "Create a page for tips for adopting pets"
create a branch based off on `paw-dev`

- [ ] Create a page for `/tips`
- [ ] Add some tips, tricks, and preparation for adopting a pet
- [ ] add some links resources that opens in a new tab
- [ ] in the nav bar create a drop down at resources and put the link to the page there

[2021-12-10 08:34] amm98d commented on #253
Hi, I would like to take this, if possible :)

[2021-12-10 08:35] amm98d commented on #254
Hi, I would like to take this, if available :)

[2021-12-11 14:08] #227 closed

[2021-12-11 14:18] redxzeta opened #255 "Petinfo email could get too long"
![image](https://user-images.githubusercontent.com/19883954/145679811-97107bb1-0d42-457c-b1f8-b16db9eb701a.png)

Looks like the email in `PetInfo` could get too long and goes outside the box

[2021-12-11 14:33] redxzeta opened #256 "Add one random pet in Pets.js"
- [ ] Use this url to fetch one random pet `https://api.petfinder.com/v2/animals?limit=1&sort=random`
- [ ] use `useSWR` to fetch it along with the fetcher. Example in `PetInfo.js`
- [ ] When it is fetching, use a placeholder like a spinner from `react-bootstrap`
- [ ] If it errors, show an error message
- [ ] use `AnimalType` to show some info on the pet.
- [ ] type would be name of pet,
- [ ]  i

[2021-12-11 14:56] Pongy-jr commented on #254
Hi could you assign this to me, I would like to work on this.

[2021-12-12 03:18] munnawng commented on #256
I'd like to be assigned to this as my first issue!

[2021-12-12 06:57] amm98d commented on #253
Hey @redxzeta, can you help me set up the environment. I got a Petfinder API, however, the .env also needs a supabase url, can you tell me where I can get that?

[2021-12-12 08:41] redxzeta commented on #253
It's in my discord. Link is in the Readme

[2021-12-12 18:13] redxzeta opened #258 "wait until all the images are done loading in About page"
![image](https://user-images.githubusercontent.com/19883954/145724284-646dca23-bbd3-4959-a799-d4ac0b226211.png)

Wondering if its possible to wait  until all the contributors imgs are fully loaded. Atm, it will show orange dots until the image loads

[2021-12-13 18:51] #126 closed

[2021-12-13 21:20] #201 closed

[2021-12-13 21:20] #187 closed

[2021-12-14 13:55] tcvan0707 commented on #255
Hello @redxzeta, can I work on this issue?

[2021-12-14 18:30] #130 closed

[2021-12-15 01:25] #254 closed

[2021-12-15 01:37] #241 closed

[2021-12-15 02:15] redxzeta opened #261 "Refactoring Home Page Structure"
- [ ] use SWR to fetch the api. you can look at `PetInfo` as an example
- [ ] show an error if something goes wrong
- [ ] add some tests
- [ ] refresh button should the placeholder cards when fetching. Think you may have to use mutate with `swr`

[2021-12-15 02:22] redxzeta opened #262 "Refactoring PetType"
- [ ] use SWR to fetch the api. you can look at `PetInfo.js` as an example
- [ ] Show an error message along with an image that something went wrong [pexel](https://www.pexels.com/) or there are no pets around the area
- [ ] remove any `console.logs`
- [ ]  add some tests and use msw to mock the api

[2021-12-15 16:30] #255 closed

[2021-12-15 20:12] trujillo9616 commented on #262
Hey! I would like to give this issue a try 😁. Could you assign it to me?

[2021-12-15 20:16] Zeusjonass commented on #261
Hi, I would like to take this issue :)

[2021-12-19 14:51] iswarmondal commented on #82
Added Help Animal India for donating under India #266

[2021-12-19 14:57] iswarmondal commented on #258
I can implement a `view more` or `scroll to reveal/load` feature in this section.
Please assign the issue to me.

[2021-12-19 15:31] redxzeta opened #267 "Using node 16 in netlify"
Having some trouble deploying to netlify. Tryin to use node 16 but it uses `12.18.0`
Any suggestions?

![image](https://user-images.githubusercontent.com/19883954/146680848-013986c8-32d1-4c71-93ab-34a9c0e86b2d.png)

[2021-12-19 16:08] iswarmondal commented on #258
Thanks for assigning it to me.

[2021-12-19 21:33] #267 closed

[2021-12-21 16:06] trujillo9616 commented on #239
Hey I could also work this issue! Just to corroborate, the fix for `nameCleaner` should be implementing a regex search? I looked up what /gim meant and I found out that they are Regex modifiers g(lobal) i(nsensitive) m(ulti-line). I am correct in this assumption? 😅

[2021-12-21 16:38] redxzeta commented on #239
yea id assume so

[2021-12-23 15:34] iswarmondal opened #271 "Improve the homepage layout"
### Here are my suggestions on improving the layout of the home page.

- Have a hero section instead of a cute dog's image at the beginning
- Add a `call to action` button in the hero section
- After that give a brief description about `What we do?`
- Add some random organization after the `Featured Pets` section under the heading of `Donate`

#### I think these features will make the home page mo

[2021-12-23 15:35] iswarmondal commented on #271
I would be very happy to work on it if I was given a chance.

[2021-12-23 16:08] redxzeta commented on #271
That's a good idea

There's a pr that's going to affect the home page just to be aware

#261

[2021-12-25 15:06] iswarmondal commented on #271
Hay @redxzeta I did a PR take a look at that and let me know.

[2022-01-04 15:19] Zeusjonass opened #273 "Create 'favorites' section"
I think we could create a section in the application where a list of pets that the user has been marking while browsing is displayed.

We could add a button to the pet's view so that it's added to the 'favorites' section and then be able to consult the list thanks to a button in the navbar.
Something like:
<img width="1406" alt="Screen Shot 2022-01-04 at 10 13 02" src="https://user-images.githubus

[2022-01-04 15:21] Zeusjonass commented on #273
Let me know if you want me to develop the issue :)

[2022-01-04 15:25] redxzeta commented on #273
Oh yea I was thinking some like that. Seems like a great idea.

[2022-01-04 15:48] redxzeta commented on #273
I could create a table on supabase. Let me know the fields you would need

[2022-01-04 21:44] Zeusjonass commented on #273
I was thinking we could use localstorage for favorites list, I found a tutorial (it uses ts, I'd have to pass it to js): https://medium.com/wesionary-team/creating-favorites-list-using-localstorage-in-react-part-ii-5f2766369c4f. You think it'd be a better option to create a table on supabase to store the list of favorites per user?

[2022-01-06 02:51] redxzeta commented on #273
was thinking of storing favorites somewhere

we could do local storage for now

[2022-01-16 19:12] #261 closed

[2022-01-16 19:29] #271 closed

[2022-01-18 21:39] #239 closed

[2022-01-23 02:34] #256 closed

[2022-01-23 16:57] redxzeta opened #280 "Error with msw?"
![image](https://user-images.githubusercontent.com/19883954/150689219-221bd861-e060-48f9-82ae-9a69479a2f21.png)

Starting to get this warning in `pets.test.js` . Maybe it has to do with `msw`? Not sure what the issue is

[2022-01-23 17:02] redxzeta commented on #280
also getting errors with #279

[2022-01-25 15:26] #280 closed

[2022-01-26 04:18] redxzeta opened #281 "PetInfo page is broken"
for some reason it isn't fetching anymore.

If anyone has an idea to fix

![image](https://user-images.githubusercontent.com/19883954/151103187-ecfa39ee-ec77-443e-98df-4742d5aac401.png)

[2022-01-27 03:23] redxzeta commented on #281
Found the issue,

just had to do

[code]

[2022-01-30 04:45] #281 closed

[2022-01-30 04:49] redxzeta opened #284 "Create more tests for Home Page"
- [ ] test for error message
- [ ] test for refresh
- [ ] test for placeholder image if pet has no pics

[2022-01-30 04:50] #262 closed

[2022-01-30 04:53] redxzeta commented on #253
@amm98d are you working on this still ?

[2022-01-30 14:43] redxzeta commented on #258
@iswarmondal are you working on this still?

[2022-01-30 14:48] redxzeta opened #285 "fomat test"

[2022-01-30 15:00] #285 closed

[2022-01-30 15:00] redxzeta opened #287 "refactor fix"

[2022-01-30 15:34] #287 closed

[2022-02-04 02:46] redxzeta opened #291 "refactoring tests"

[2022-02-04 02:54] #291 closed

[2022-02-04 03:04] #273 closed

[2022-02-04 03:46] redxzeta opened #293 "profile bug"

[2022-02-04 15:31] #293 closed

[2022-02-23 03:34] briandgomez opened #296 "Confused with restart app instructions"
## I am getting this error when starting the application:
<img width="957" alt="image" src="https://user-images.githubusercontent.com/69539559/155255695-e4b5ba32-12b3-4414-aaeb-3ee8486a1942.png">

I followed all the steps from the 'Pet Finder Developer API Key' section in the readme and got this error when typing 'yarn start'.
I currently have this in the .env file:
`REACT_APP_PETFINDER_KEY = APIK

[2022-02-23 03:41] redxzeta commented on #296
oh hey @briandgomez

looks like you're missing the supabase keys which are in the discord
the link to the discord is in my readme

[2022-02-23 12:42] briandgomez commented on #296
@redxzeta Just joined the discord. I think I found it. Thanks.

[2022-02-26 03:36] #296 closed

[2022-05-05 04:02] #253 closed

[2022-05-05 04:02] #258 closed

[2022-05-05 04:02] #284 closed

[2022-05-05 04:04] redxzeta opened #304 "Converting to TypeScript"

[2022-05-08 23:16] #304 closed

[2022-05-08 23:38] redxzeta opened #306 "Fix ForgotPassword"
Remove `/* eslint-disable */
// @ts-nocheck`

Remove `useForm` and just switch to `useState`

create types for the new form and handle change

[2022-05-08 23:45] redxzeta opened #307 "Bug: React Bootstrap button as link"
Is there a better solution for this

I currently just  put Link as any

[code]

[2022-05-08 23:46] #82 closed

[2022-05-09 01:19] redxzeta opened #308 "Fix: Refresh Button in home page"
Currently disabled `mutate` due to ts issues

Check out https://swr.vercel.app/docs/mutation

and try to implement it in the refresh button so users can refresh for new pets in `Home.tsx`

write some tests

[2022-05-09 01:21] redxzeta opened #309 "Update NotFound page"
Update `NotFound.tsx`

![image](https://user-images.githubusercontent.com/19883954/167325127-5e1869dc-e85a-4a35-a770-c8fb861608bb.png)

Feel free to be creative and replace the current image

[2022-05-09 01:38] redxzeta opened #310 "Filter method for User Favorited Pets"
Add a filter method to filter the user favorited pets by type (dog, cat, bird, rabbit, horse) and reset filter

[2022-05-09 01:50] redxzeta opened #311 "Redesign Login and Register page"
Current page looks plain. Feel free to redesign the page would prefer to keep the same color theme

[2022-05-10 05:58] #308 closed

[2022-05-11 15:40] redxzeta opened #313 "Fix: Redirects if not a valid type in PetType.tsx"
Redirects to `/pets` if its not a valid type params

[2022-05-11 15:45] redxzeta opened #315 "fix: bootstrap update"
`(12:30806) autoprefixer: Replace color-adjust to print-color-adjust. The color-adjust shorthand is currently deprecated.`

[2022-05-11 15:48] #313 closed

[2022-05-15 19:45] #306 closed

[2022-05-15 20:04] redxzeta opened #317 "feat: add created at for favorites"
adding created at date for favorites

[2022-05-15 20:13] #317 closed

[2022-05-15 20:20] redxzeta opened #319 "Show the number of people who favorited pet"
use supabase to query the amount of favoriters using the id from `const { id } = useParams<string>();` in `PetInfo.tsx`

[2022-05-16 03:05] redxzeta opened #320 "ability to remove favorites from favorites page"
Go to `Favorites.tsx`

add a button to remove favorited pets in the favorites page and updates the state. Check out `FavoriteSection.tsx` as an example

[2022-05-18 02:49] redxzeta commented on #320
Sure :)

if you need help u can go on discord also updated the issue to help u out

[2022-05-18 02:54] bcastillo32 commented on #320
just joined discord! pumped to be able to help here :D

[2022-05-18 02:55] bcastillo32 commented on #320
Thanks! Just joined the discord. Pumped to be able to help :D

[2022-05-19 04:48] redxzeta opened #321 "TypeScript Review"
I'm not the greatest at TypeScript so if anyone wants to code review or refactor any of the code

[2022-05-19 15:56] redxzeta commented on #311
I should mention to also implement loading , error, and success state ( I think only for register. Login redirects to home)

[2022-05-20 00:19] CodyMcCarty commented on #315
Hi.  First time trying to help with open source.  I fixed this one.  I'm looking into how to do a pull request

[2022-05-20 00:39] redxzeta commented on #315
u can fork the repo
create a branch and add your changes
then create a pull request

[2022-05-20 03:23] redxzeta opened #323 "Profile fix"

[2022-05-21 01:41] #323 closed

[2022-05-21 16:18] redxzeta opened #325 "feat: Search user profile"
- Create a new component to search users by username or show all users sort by date with pagination
- route should be `/profile`
- use supabase to search
- Display the user profile cards (username, avatar_url, and a link to their profile)
- show error case `No profiles found`
- Loading profile card case

Let me know if u have design ideas for user profile cards

[2022-05-24 14:11] VishSeen commented on #311
Yoo @JayChavan-23 , yes I'll be implementing this feature.

[2022-05-25 03:45] redxzeta opened #326 "revamp Pets.tsx"
Current page images are not all the same size so it looks kinda funky.

Could resize all the images, except the random pet, so they call all be the same

if anyone has any ideas to redesign `Pets.tsx` on the route `/pets`

post them here

[2022-05-25 03:48] redxzeta opened #327 "Rename Donate page to Organizations"
Organizations seems to make more sense than Donate

rename the route, test and the page

see if there's an api to fetch organizations

[2022-05-25 12:59] YaSh8202 commented on #327
Hi @redxzeta , I would like to work on this issue. Please feel free to assign me.

[2022-05-25 14:09] redxzeta opened #328 "Create Profile settings page"
- [ ] Create `Settings.tsx`
- [ ] Only accessed by authenticated users. redirect unauthorized users to home page. you can use `PrivateRoute`
- [ ] on the route `settings`
- [ ] user can change username , description
- [ ] use can `react-supabase` https://react-supabase.vercel.app/ or regular supabase to make requests to the table `profiles`

[2022-05-26 15:42] redxzeta opened #330 "Bug: sometimes pet api removes pet"
In `Favorites.tsx`, some times the pet api would remove the id

Implement a way to remove the pet id from the supabase table but still show the remaining pets in the favorites page in `petinfoFetcher.ts`

[2022-05-28 11:41] kprime21 commented on #309
Hi! I would like to take this. This would be my first issue.

[2022-05-28 18:57] #309 closed

[2022-05-29 00:47] kprime21 commented on #307
I found a package that helps with that, [react-router-bootstrap](https://www.npmjs.com/package/react-router-bootstrap).

It allows you to wrap their component around the react-bootstrap Button component to create an anchor link, opposed to wrapping the Button component in react-routers Link which leads to invalid HTML.

[2022-05-29 06:02] redxzeta commented on #307
Alright wanna try it out?

[2022-05-29 08:50] kprime21 commented on #307
Sure!

[2022-06-03 02:24] redxzeta commented on #320
just wondering if ur still working on this?

[2022-06-03 02:44] bcastillo32 commented on #320
hi! yes, I am. I was out last week and then on a work trip the week before that but I am definitely going to do it. I think I will be able to get it done this weekend! Sorry for the delay and for not keeping you updated. I will get this done.

[2022-06-03 02:45] bcastillo32 commented on #320
hi! yes, I am. I was out last week and then on a work trip the week before that but I am definitely going to do it. I think I will be able to get it done this weekend! Sorry for the delay and for not keeping you updated. I will get this done.

[2022-06-03 02:48] redxzeta commented on #320
Alright thanks for the update. No rush

[2022-06-03 02:50] bcastillo32 commented on #320
no prob. thank you for the opportunity to help. Looking forward to helping more and more with this!

[2022-06-04 17:32] redxzeta commented on #311
@VishSeen how are things going?

[2022-06-04 22:19] VishSeen commented on #311
Yes implementation in progress. Should be good in a few days.

[2022-06-04 23:08] redxzeta commented on #311
Alright thanks for the update. No rush

[2022-06-10 03:36] redxzeta opened #337 "Migrating from Bootstrap to Tailwind/daisy"
Thinking of migrating from bootstrap to tailwind/radixui

If anyone has any thoughts about it

[2022-06-10 21:20] p14 commented on #321
I'd be more than happy to take a look this afternoon if you're still wanting an extra pair of eyes on it. I'm not an expert by any means, but I have been living inside of Typescript for the past few years surrounded by some brilliant people.

[2022-06-10 22:01] redxzeta commented on #321
sure sounds good :)

[2022-06-11 02:30] VishSeen commented on #311
@redxzeta Redesign done. I can't push or PR here. Getting access denied, Can you check ?

[2022-06-11 02:54] redxzeta commented on #311
OH did u fork it?

[2022-06-11 02:58] VishSeen commented on #311
I cloned it and worked on a new branch

[2022-06-11 02:59] redxzeta commented on #311
Ahh I'll invite u then

[2022-06-11 03:14] VishSeen commented on #311
Any idea why i'm getting an erro ??

![image](https://user-images.githubusercontent.com/13452864/173170465-7f09535a-94ff-4d24-ada2-edb2b93fdd78.png)

[2022-06-11 03:17] redxzeta commented on #311
Hmmm might be cuz of the tests

[2022-06-11 03:18] redxzeta commented on #311
Could do git push  --no-verify

[2022-06-11 07:30] VishSeen commented on #311
It is indeed because of the tests.. i will try to fix it in a bit.

[2022-06-15 18:29] MuizU commented on #326
We can set a default width and height, then use `object-fit:scale-down;` to make sure the image is represented with the specified dimensions without being stretched.

[2022-06-16 02:47] redxzeta commented on #326
did you want to try and tackle this?

[2022-06-16 03:00] MuizU commented on #326
Sure

[2022-06-16 03:04] redxzeta commented on #326
pet images would probably need to be replaced too

[2022-06-16 03:53] MuizU commented on #326
Sure, that can be done as well. What would you suggest as the default dimensions for the pet images?

[2022-06-16 05:30] redxzeta commented on #326
Hmm want to play around with it?

[2022-06-16 06:22] MuizU commented on #326
Of course

[2022-06-16 17:49] likileads commented on #327
Hi, Can I be assigned to this issue.

Also I wanted to see the application, so I cloned the repo and ran  `yarn` to install node-modules and started the server, but I could only see a white screen,  can you help me with this
![image](https://user-images.githubusercontent.com/70283754/174133769-f1477ed9-108a-4568-8f00-daec1c94c562.png)

[2022-06-16 17:56] redxzeta commented on #327
1. may want to fork the repo first since u wont be able to push if u cloned
2. make sure ur using node 16
3. There are env variables to set up with
4. https://github.com/redxzeta/Awesome-Adoption#pet-finder-developer-api-key
5. https://github.com/redxzeta/Awesome-Adoption#supabase
6. join the discord if u have more questions too :)

[2022-06-16 19:08] #326 closed

[2022-06-17 03:01] MuizU commented on #328
@redxzeta can this be assigned to me? I can work on it.

[2022-06-19 04:55] likileads commented on #327
Please review my pull request: [343](https://github.com/redxzeta/Awesome-Adoption/pull/343)

[2022-06-19 22:42] #327 closed

[2022-07-07 05:33] #328 closed

[2022-07-19 02:49] #320 closed

[2022-07-23 23:04] #315 closed

[2022-07-23 23:08] redxzeta opened #347 "Add new pet type from the api"
I have been seeing some new types of pets ie reptiles

- [ ] add a new type to `Pet.tsx`
- [ ] add a new icon to `PetType.ts`

[2022-08-01 18:36] harisreesud commented on #319
Hello, can I work on this?

[2022-08-04 06:41] redxzeta commented on #319
Sure

[2022-08-07 03:12] #319 closed

[2022-08-13 06:40] #337 closed

[2022-08-13 06:42] #311 closed

[2022-08-13 06:45] redxzeta opened #349 "Add Tool tip in about page"
Add tooltip when hovering over contributors. Hover should display username

You can use [react-daisy-ui](https://react.daisyui.com/?path=/story/data-display-tooltip--default) or [daisy-ui](https://daisyui.com/components/tooltip/) or tailwind

![image](https://user-images.githubusercontent.com/19883954/184472243-316388e6-13c3-4fa6-a37b-f9c01d0b97a2.png)

[2022-08-13 06:48] redxzeta opened #350 "Fix Resources Page"
- Spread out buttons
- Button's in a new line not in the same line as the text
- add more spacing between the buttons and paragraphs
- update any information

[2022-08-13 06:48] #321 closed

[2022-08-13 06:50] redxzeta opened #351 "TypeScript Review"
- Review and refactor TypeScript files (I am not the best at TypeScript)

[2022-08-13 06:57] redxzeta opened #352 "Bug: Cards are not event"
![image](https://user-images.githubusercontent.com/19883954/184472758-c82d43ca-486f-4d75-aabb-dfa581662b09.png)

Uneven cards

[2022-08-13 07:51] sunidhisachan commented on #352
hey @redxzeta , I can fix this , please assign this to me.

[2022-08-13 07:53] sunidhisachan commented on #350
I can work on this issue . @redxzeta Please assign this to me.

[2022-08-13 13:52] Maleehak commented on #351
Hi Nathan, I want to pick up this issue. Please assign this task to me.

[2022-08-13 14:48] prasadasabe22 commented on #350
Hi @redxzeta is this issue still open? I would like to work on this issue and to make a contribution.

[2022-08-13 14:57] prasadasabe22 commented on #310
Hi @redxzeta also can I work on this? Love to contribute in this regards.

[2022-08-13 14:58] redxzeta commented on #310
sure

[2022-08-13 20:32] redxzeta opened #358 "Switching to React Query"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-13 21:51] Jovita2019 commented on #350
I wanna give it a try

[2022-08-13 22:24] redxzeta opened #359 "Fix Tips.tsx"
- [ ] Convert to use tailwind
- [ ] Remove `tips.css`
- [ ] `  <Button color="primary">Adopt</Button>` change to use Link from react-router-dom with `className='btn btn-primary'
- [ ] add a link in the footer

[2022-08-14 14:51] prasadasabe22 commented on #350
@redxzeta I pulled this project into my local repo. but it is showing lots of errors. Can you suggest something so that I will be able to run this project in my local machine?

[2022-08-14 14:52] redxzeta commented on #350
Click on fork in the top right and then clone that repo

[2022-08-14 16:32] prasadasabe22 commented on #350
@redxzeta yes I did those steps (creating fork and then cloning that into my local repo). But after opening it in VS code it showing tons of error mainly cannot find module type errors. Image attached for reference. It would be helpful for if you can give some idea about it.
![image](https://user-images.githubusercontent.com/109573052/184546225-fe69ec05-ab1b-4e1a-bb57-f4e6594dc9ef.png)

[2022-08-14 18:08] redxzeta commented on #350
oh i dont think u installed node modules?

run `yarn` in terminal to install the `node_modules` then run `yarn start`

[2022-08-15 08:58] prasadasabe22 commented on #350
hey @redxzeta above mentioned got resolved by using "npm install --save @types/react --force" command but now I am facing other errors as mentioned below. As it is taking much more time, Whether there is any other way to work with the source code. So as to run and check for modification. Please suggest.

![image](https://user-images.githubusercontent.com/109573052/184606764-272bcf58-e7b8-4fde-858e

[2022-08-15 14:04] redxzeta commented on #350
I put the env keys in discord.
I posted instructions on the Readme.

[2022-08-15 15:13] redxzeta opened #370 "Refactor test files that use msw"
Deprecations
req.body is deprecated. Please use explicit request body reading methods: req.text(), req.json(), req.arrayBuffer() (other methods, like req.formData() are currently not supported).
[code]
req.body is still present for compatibility reasons but will be removed in the next releases.

[2022-08-15 20:10] danyalasif commented on #359
Hey redexzeta, I can work on this task, let me know if it's available.

[2022-08-15 20:18] redxzeta commented on #359
Sure go for it

[2022-08-15 21:51] danyalasif commented on #349
Hey [redxzeta](https://github.com/redxzeta), I can take this task if it's available.

[2022-08-15 21:51] redxzeta commented on #349
Sure 👍

[2022-08-16 04:23] #349 closed

[2022-08-16 04:46] redxzeta opened #388 "Fix NotFound.tsx"
- For the header titles, add to the className `text-5xl font-bold font-amatic` . adjust the height accordingly
- add `btn btn-primary`  to `Link` in the className
- convert to use tailwind and remove the css file

[2022-08-16 04:59] #330 closed

[2022-08-16 05:02] redxzeta opened #389 "Add a contact form"
- [ ] Create a contact form page using tailwind daisyui/react-daisyui
- [ ] 3 fields: name, email, message
- [ ] Add a link in the footer
- [ ] Be sure to add it in `App.tsx` on the route `contact`
- [ ] use react hook form along with  validations

[2022-08-16 07:38] j0hannsenn commented on #389
Hey, I am new to open source and would like to make my first contribution. Did I understand correctly, that only the page with the forms are required for this issue and no further functions than the validations? If this is the case, can you assign this issue to me? I would like to start working on the tasks.

[2022-08-16 13:39] #359 closed

[2022-08-16 19:16] redxzeta commented on #389
Env keys are in discord

[2022-08-17 10:54] mamba-dev-KE commented on #389
I can give this a go mate. Kindly assign it to me

[2022-08-17 17:42] mamba-dev-KE commented on #389
@redxzeta is it a requirement to write unit tests?

[2022-08-17 18:45] redxzeta commented on #389
Optional. It will be great to have tests or could be a different issue

[2022-08-18 07:22] AlexJBlair commented on #370
I can take a look at this :D

[2022-08-18 07:34] AlexJBlair commented on #370
Is this just asking to replace all req.body calls due to deprecation?

[2022-08-18 14:47] redxzeta commented on #370
Yea haha

[2022-08-20 09:59] danyalasif commented on #388
Hey [redxzeta](https://github.com/redxzeta), I can do this task, please assign it to me

[2022-08-20 14:28] mamba-dev-KE commented on #389
@redxzeta I did a PR for this...kindly do a code review as soon as you are able. Thanks.

[2022-08-22 14:53] redxzeta opened #397 "Implement dark mode theme"
- Use https://daisyui.com/theme-generator/ to create a dark theme
- add a theme to the tailwind config https://daisyui.com/docs/config/
-  add an icon here
![image](https://user-images.githubusercontent.com/19883954/185951428-42a503ac-2180-41db-a600-2af9f4a2fcb0.png)

- use the sun moon icon from here to switch between the themes
- For now use local storage to store the theme unless there is a bet

[2022-08-23 03:26] JP-sDEV commented on #397
I'll take this issue up! Aiming to have it done by next week (Aug 29)

[2022-08-23 14:58] #389 closed

[2022-08-25 14:43] redxzeta opened #398 "Use user avatar"
![image](https://user-images.githubusercontent.com/19883954/186695749-8f8cce9b-3f4c-4785-8d6c-1490fe3c4697.png)

Use the user's avatar instead of the default paw logo when the user is logged in

[2022-08-25 18:29] Lorenzo767 commented on #398
Hi, just wanted to say that I will be working on this issue. 👍

[2022-08-29 18:35] danyalasif commented on #325
I tried working on this, have added a preview to the PR, let me know what you think

[2022-09-09 16:42] bcastillo32 opened #411 "Pet Profiles for User's own pets"
The feature is not related to a problem. It is a feature to allow pet parents to save pet info for their own records

Pet parents would be able to save different pet info for their own records (species of animal, gender, color, age, birthdate, etc)

considered allowing users to make pet profiles "public" on user's profiles but I think it would be better to keep them private for now

[2022-09-22 07:13] AlexJBlair commented on #370
So I am not too familiar with promises. For some reason this snippet is expecting a promise to be returned if any of the new methods are used.
`test("should display wrong password", async () => {
    server.use(
      rest.post("https://test.supabase.co/auth/v1/token", (req, res, ctx) => {
        const { password } = req.text();
        if (password !== "bones1234") {
          return res(

[2022-09-29 15:05] redxzeta commented on #398
Are you still working on this?

[2022-09-29 15:11] redxzeta commented on #370
sorry for late reply i think u can just wrap it with async await

[code]

[2022-09-29 15:12] redxzeta opened #428 "fix the icons from heroicons to use v2"
upgrading to heroicons v2

https://heroicons.com/

If the icon is not there, u can just use the svg file

[2022-09-29 15:13] #310 closed

[2022-09-29 15:14] redxzeta opened #429 "Filter method for user favorited pets"
Add filter method and sort method for user favorited pets

[2022-09-29 15:16] redxzeta opened #430 "Organization Cards are not even"
![image](https://user-images.githubusercontent.com/19883954/193070965-0790857b-dde5-4cef-bd41-33fcdbe4ed1a.png)

make sure the cards are even in mobile and desktop

[2022-09-29 15:16] Shivashish-rwt commented on #429
I would like to contribute. Can u please explain more where should i add those methods.?

[2022-09-29 15:20] redxzeta opened #431 "New Placeholder"
Current placeholder does not fit the current pet cards

Make a new version with the new color and a dark mode version (once dark mode is implemented)

![image](https://user-images.githubusercontent.com/19883954/193071814-d12bb6f8-eb07-4db2-8aa8-e12f101cc25b.png)

[2022-09-29 15:20] #347 closed

[2022-09-29 15:22] redxzeta commented on #429
you can add it in `Favorites.tsx`

[2022-09-29 15:25] redxzeta opened #432 "Add a placeholder button while fetching in home page"
![image](https://user-images.githubusercontent.com/19883954/193072875-35a79bf1-7440-4155-a839-c780429cbed6.png)

![image](https://user-images.githubusercontent.com/19883954/193073034-f0b66ce6-4503-4e6a-81e6-9633f2877959.png)

[2022-09-29 15:30] redxzeta opened #433 "Space out the buttons in resources page"
![image](https://user-images.githubusercontent.com/19883954/193074436-cf71f951-1f21-4800-8475-366eeb47046a.png)

[2022-09-29 15:42] #350 closed

[2022-09-29 15:43] redxzeta commented on #397
Are you working on this still?

[2022-09-29 15:54] Shivashish-rwt commented on #429
Please assign this to me.

[2022-09-29 15:55] Shivashish-rwt commented on #433
Can u please tell me where is the css of the reources page.?

[2022-09-29 15:58] redxzeta commented on #433
Project uses tailwind

[2022-09-29 17:27] omthakare16 commented on #432
Hello
Can you Clearify what exactly you need regarding placeholder ?

[2022-09-29 17:41] ankitdas09 commented on #430
do you want the height of the cards to be equal?

[2022-09-29 17:48] redxzeta commented on #430
Yea

[2022-09-29 18:13] redxzeta commented on #432
Show the refresh button but change the text to a spinner and disable it until it loads

[2022-09-30 08:44] Reddomi commented on #431
I would like this assigned!

[2022-09-30 19:04] omk-coder commented on #433
can i work on this issue.

[2022-10-01 15:35] piyush-panpaliya commented on #428
Can I do this?
You want to migrate all icons to heroicons v2 and use svg if there isnt any equivalnt

[2022-10-01 16:58] redxzeta commented on #428
Yeup

[2022-10-01 17:16] piyush-panpaliya commented on #428
@redxzeta  should **react-icons** also be replaced?

[2022-10-01 17:31] redxzeta commented on #428
Probably not unless ur able to find the icon to replace with

[2022-10-01 22:21] omthakare16 commented on #432
Hey, I have **resolved** this issue you can check **PR** #436 ,
Thanks for assigning me the work it was nice working on it .

[2022-10-02 13:27] vancassa commented on #430
May I work on this issue?

[2022-10-02 19:00] cody-castro commented on #430
I'm working on this, could I be assigned?

[2022-10-02 19:04] redxzeta commented on #430
Apologies, issues are first come first serve. There are other issues available. Let me know if u need help

[2022-10-02 19:10] #428 closed

[2022-10-02 19:12] redxzeta opened #437 "Docs: Update Readme"
- Updated existing screenshot with the current website
- Create a section of the stack being used: React, Tailwind, Supabase, Daisy UI

[2022-10-02 19:17] ManasviGoyal commented on #437
I would like to work on this.

[2022-10-02 19:19] redxzeta opened #438 "Fix: missing menu in mobile view"
![image](https://user-images.githubusercontent.com/19883954/193472201-711fbee2-a8ea-4510-a2f6-d9819ed48e3d.png)

add the missing menu links in mobile view

[2022-10-02 19:24] alexjharrison commented on #438
I'd like to be assigned this issue. Thanks!

[2022-10-02 19:32] cody-castro commented on #398
I can work on this! :)

[2022-10-02 19:33] bcastillo32 commented on #398
Thanks @cody-castro !

[2022-10-02 20:28] redxzeta opened #440 "fix github action greeting"
fix github action greeting for some reason it always keeps failing

[2022-10-02 20:28] #351 closed

[2022-10-02 20:40] #438 closed

[2022-10-02 20:41] #432 closed

[2022-10-03 05:10] SaumyaBhushan commented on #440
Hi @redxzeta I have created a pull request . let me know if it works for you.

[2022-10-03 05:39] Waishnav commented on #397
I would like to work on this issue.
Can you assign this to me

[2022-10-03 11:47] omthakare16 opened #450 "UI Improvment in Resources Section"
**Describe the bug**
Hey I saw their is some UI Improvement needed , in resources section their need gaps between the buttons , please check SS bellow
**Screenshot**
![Screenshot from 2022-10-03 17-08-08](https://user-images.githubusercontent.com/83799380/193569100-3fc51de0-27fc-44b5-b8e7-01ed43bd2e38.png)

Can I fix this issue !
Can you Assign me this work ?

[2022-10-03 17:48] #437 closed

[2022-10-03 20:40] omthakare16 commented on #450
Yes , I have seen their is settings issue in mobile view , but what about about page what's wrong with it ? Also Can you assign me for these all small bugs/issue . ?

[2022-10-04 06:19] redxzeta commented on #450
Wanted to update the image and center it. Thinking to increase the results of the contributors since there's more now

[2022-10-04 06:30] Waishnav commented on #397
Just a small doubt, what is preferable toggle button or just icons which switched on click??

[2022-10-04 07:16] omthakare16 commented on #450
So Can I work on these issues ?

[2022-10-04 14:36] omthakare16 commented on #450
Ok, can you also add the tag hacktoberfest in these issue,
as this would help me in this fest.

[2022-10-05 02:47] #430 closed

[2022-10-05 03:03] redxzeta opened #451 "Add new Pet Types"
There are 3 pet types that have been added to the api : Small & Furry, Scales, Fins & Other, Barnyard

You can check them out using the api: https://api.petfinder.com/v2/types

- Add them to the `Pets.tsx` along with an image
- Find an svg icon corresponding to the new type and add them in PetIcon
- Refactor and fix any tests

[2022-10-05 03:07] #440 closed

[2022-10-05 03:09] redxzeta opened #452 "Profile Loading and Error"
- Add a Profile place holder when fetching  the user profile
- Add an error page for the profile when it cannot be found or other errors

[2022-10-05 03:09] siddhantprateek commented on #451
I would like to work on this issue, can u assign this to me?

[2022-10-05 03:09] #325 closed

[2022-10-05 03:11] redxzeta opened #453 "Profile Search Page"
- Create a new component to search users by username or show all users sort by date with pagination
- route should be `/profile`
- use supabase to search
- Display the user profile cards (username, avatar_url, and a link to their profile)
- show error case No profiles found
- Loading profile card case
- Let me know if u have design ideas for user profile cards

[2022-10-05 03:15] redxzeta opened #454 "Footer always in the bottom"
Is it possible to place the footer in the bottom if the page is short?

![image](https://user-images.githubusercontent.com/19883954/193973302-f878e4b4-6b3d-4d83-a8cf-c071c5eec485.png)

[2022-10-05 03:29] heisdinesh commented on #454
can i work on this issue @redxzeta , do assign this issue to me

[2022-10-05 03:51] najeebkp commented on #452
Hi @redxzeta please assign me this task

[2022-10-05 09:28] viveena30 commented on #454
can you assign this issue to me @redxzeta ?

[2022-10-05 09:31] omthakare16 commented on #450
Can you provide the image you wanted to replace in about page !

[2022-10-05 12:30] Potato-29 commented on #451
Can I work on this

[2022-10-05 14:13] error707-persona commented on #453
I want to work on it please assign me.

[2022-10-05 20:59] Waishnav commented on #429
Hey could you assign this issue to me??

[2022-10-06 15:47] #433 closed

[2022-10-06 15:47] #450 closed

[2022-10-06 22:11] redxzeta opened #459 "Mobile view login register page fix"
**Describe the bug**
Mobile view of sign in login form fields are over extending and the labels are touching

**To Reproduce**
Steps to reproduce the behavior:

Look in mobile view

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![Screenshot_20221006-150729_Brave](https://user-imag

[2022-10-06 22:21] redxzeta opened #460 "Use organizations from pet finder api"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Petfinder api has organizations

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

See if you can add the list of organizations from the api

**Describe alternatives you've considered**
A cle

[2022-10-06 22:40] kalyanijagdale commented on #460
@redxzeta could you please assign this to me?

[2022-10-07 02:52] vanshika8750 commented on #459
I can fix the label touch. If i can proceed then please assign me.

[2022-10-07 13:25] hardikhans01 commented on #459
Hi @redxzeta
I want to work on this issue.
Could you please assign the task to me.
So please add a tag of Hacktoberfest 2022

[2022-10-07 14:56] omthakare16 commented on #459
Hey @redxzeta ,
I have already solved this issue for the login and settings page in PR #458  but unfortunately, My Bad I forget to make changes in register page.
You can assign anyone or me for this.

[2022-10-07 21:14] davidemmolino opened #462 "Adding github link to footer"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Could get traction from people outside the intuit network

**Describe alternatives you've considered**
A clear and concise description of any

[2022-10-07 23:19] redxzeta commented on #462
Sounds like a good idea

[2022-10-07 23:20] redxzeta commented on #462
Did u want to work on this ? @davidemmolino

[2022-10-08 08:04] omthakare16 commented on #459
@redxzeta ,
Solved this minor issue in PR #463

[2022-10-08 12:25] Naveen-Nair commented on #459
Hi @redxzeta, can i work on this issue?

[2022-10-08 17:35] #459 closed

[2022-10-08 17:37] #397 closed

[2022-10-08 17:49] redxzeta opened #465 "fix: svg dark mode"
Fix dark mode for the svg file @Waishnav

[2022-10-08 18:06] Anuran12 commented on #465
i would like to work on this @redxzeta assign this to me

[2022-10-08 20:05] Waishnav commented on #465
Hey @redxzeta I've already worked on this and almost done with the changes.
rn refactoring that changes.

[2022-10-09 05:18] #431 closed

[2022-10-09 05:37] redxzeta opened #466 "Fix Forgot Password"
- Fix styling of forgot password.
- add validation for email
- add a link to forgot password in the login sign up form

[2022-10-09 05:57] Starboyzs commented on #466
I would like to work on this issue

[2022-10-09 06:53] chinmaym07 commented on #466
Hey @redxzeta . Can I work on this ?

[2022-10-09 07:05] YuriDevAT commented on #466
Hi @redxzeta . I would like to work on this issue. :)

Besides, I love your project. Did an Animal App like this too, to report abandoned dogs to the nearest NGO available. 💟 So I am happy to see other people care too.

[2022-10-09 10:12] tab21 commented on #466
Hey @redxzeta . Can I work on this issue?

[2022-10-09 10:53] foobar98 opened #467 "Hide share action if browser does not support the WebShare APIs"
**Describe the bug**
If the browser does not support the WebShare API, the share CTA does nothing.

**To Reproduce**
Go to any animal page and click on share on a browser that does not have support for share.

**Expected behavior**
Share should not be shown in such scenarios.

[2022-10-09 17:00] redxzeta commented on #467
Sounds like a good idea. Did u want to work on this ?

[2022-10-10 02:38] foobar98 commented on #467
Yeah, please assign it to me.

[2022-10-10 18:31] redxzeta opened #477 "Pets gets removed from api and affects favorites"
Pets gets removed from api and affects favorites

[2022-10-10 18:38] #477 closed

[2022-10-10 19:02] #465 closed

[2022-10-10 19:06] redxzeta opened #479 "Fix ResetPassword page to use tailwind"
- convert the resetpassword component to use tailwind
-  uncomment the route in `App.tsx`

could be the same style as the register/login form

[2022-10-10 19:10] stevenjburrows commented on #479
If you want to assign me I can help with this

[2022-10-11 01:42] redxzeta opened #480 "Dark mode testing"
Go through dark mode ui/ux and make a log of any issues or concerns.

Then post some issues that u found

[2022-10-11 01:44] redxzeta opened #481 "Write blogs or social media posts"
Write any blogs or social media posts about the site whether its about experience contributing, finding pets near your area or etc

Be sure to post the links in the pr's

[2022-10-11 01:45] redxzeta commented on #429
Filter user favorited pets based on breed or sort alpha on name

[2022-10-11 03:02] thejsdeveloper opened #482 "[Enhancement Issue]: Spacing out the light mode / dark mode icon and user icon"
**Is your feature request related to a problem? Please describe.**
When I navigate through the keyboard and reach to the mode select icon, mode selection icon and user icon is currently overlapping. I want to space out this so that it looks good.

**Describe the solution you'd like**
We can give margin to mode selection icon.

<img width="1158" alt="Screenshot 2022-10-11 at 10 54 11 AM" src="https

[2022-10-11 03:03] thejsdeveloper commented on #83
I have found an issue and create create a request to give margin to mode selection icon.

Kindly assign it to me and I will submit a PR for this.

https://github.com/redxzeta/Awesome-Adoption/issues/482

[2022-10-11 03:04] thejsdeveloper commented on #482
@redxzeta I have create this issue. Kindly assign it to me I will submit a PR soon.

Thanks :)

[2022-10-11 06:39] thejsdeveloper opened #484 "Menus from hamburger menu are showing on large screen when navigating through keyboard"
**Describe the bug**

When using keyboard to navigate, it is activating hamburger menu on first tab on large screens.
We should only activate and open menus from hamburger when on small screen because on large screen we are showing the full menus.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://pawternityhub.netlify.app/about
2. Click `tab`
3. It will open the menus for hambur

[2022-10-11 06:48] thejsdeveloper commented on #484
@redxzeta Kindly assign this to me.

[2022-10-11 13:46] ranjankuldeep commented on #462
hey  I want to write add the description. I liked the idea, surely this will attract and give a customer a nice impression.

Please assign to me..

[2022-10-11 14:44] #482 closed

[2022-10-12 07:45] Eddayavuz commented on #480
Hey I'd like to work on this please. Could you assign me?

[2022-10-12 09:09] Eddayavuz opened #486 "Image sizes in the carousel is not equal"
**Describe the bug**
The cat image size in the carousel is not equal, some photos have oval corners some don't.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to ['Cat Page'](https://pawternityhub.netlify.app/pets/cat)
2. Click on 'the number buttons on the carousel nav.'
3. See the error

**Expected behavior**
All the photos should have equal size and equal style.

**Screenshots**
<img

[2022-10-13 21:49] davidemmolino commented on #462
@redxzeta yes, I would like to add this feature. thank you

[2022-10-13 23:21] #462 closed

[2022-10-13 23:28] ranjankuldeep commented on #454
Is it still open?
Can i work on this. @redxzeta

[2022-10-14 01:42] redxzeta commented on #454
Sure

[2022-10-14 05:02] #467 closed

[2022-10-14 06:48] stevenjburrows commented on #479
are you also wanting react-bootstrap replaced?  As this is not in your package.json file

[2022-10-14 13:58] redxzeta commented on #479
Yea project uses tailwind daisyui

[2022-10-17 14:37] #454 closed, assigned to ranjankuldeep

[2022-10-18 14:31] xAtishayx commented on #486
This issue had been for couple of days, I worked on it @redxzeta :) Please take a look #496

[2022-10-18 14:42] xAtishayx commented on #480
#### Issues
1. Using dark mode logos (can use github dark logo)
<img width="1523" alt="image" src="https://user-images.githubusercontent.com/42544589/196461510-5739b57e-da88-49e5-a4bc-2b60c2a8854b.png">
2. Not readable filters (black or placeholder color can be used like in contact page)
<img width="602" alt="image" src="https://user-images.githubusercontent.com/42544589/196461996-f75e8c3e-0dcc-44

[2022-10-18 14:55] redxzeta commented on #480
Thanks for pointing out
Feel free to make an issue

[2022-10-19 08:08] Waishnav commented on #429
@redxzeta sorry for completing this issue late.
#497 PR has solved this issue.

[2022-10-20 11:10] foobar98 opened #498 "Incorrect discord link in "about" page"
**Describe the bug**
In the about page, both the "D" icon and the github icon has the same hyperlink.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to about page.

**Expected behavior**
- If it's the discord icon
   - Use actual discord icon
   - Correct link to invite link

[2022-10-20 12:41] foobar98 opened #499 "Zipcode input flowing out of the container"
**Describe the bug**
In the pets page, when the window is resized to a smaller width, the zipcode input flows out of it's parent container.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to `pets/birds` route.
2. Resize window.

**Expected behavior**
Input should not overflow on window resize.

**Screenshots**
<img width="441" alt="Screenshot 2022-10-20 at 6 01 51 PM" src="https://user-

[2022-10-20 14:04] redxzeta commented on #499
Good catch did u want to fix this ?

[2022-10-20 14:06] foobar98 commented on #499
Yes, please assign it to me, thanks.

[2022-10-20 14:13] #479 closed

[2022-10-20 14:16] redxzeta commented on #498
Good catch suppose to be a devpost link. U can add a discord link too

[2022-10-21 18:14] foobar98 commented on #498
Sure, can you assign it to me? I'll raise a PR.

[2022-10-22 18:08] #498 closed

[2022-10-22 18:13] #466 closed

[2022-10-22 18:14] #499 closed

[2022-10-22 20:09] jatinmark commented on #486
@redxzeta i want to work on this issue can you assign it to me

[2022-10-23 19:12] #486 closed

[2022-10-23 19:12] #429 closed

[2022-10-23 19:18] redxzeta opened #503 "feat: filtering favorite pets"
1. Show what is currently being filtered

![image](https://user-images.githubusercontent.com/19883954/197411729-a82910cf-1e50-4143-86ab-ca82a81cce6c.png)

In this case it would show dog buddies

2. When user selects a filter and no pets show, show a message that no buddies for this {type}

[2022-10-23 19:51] redxzeta opened #504 "Setup contact form with emailjs"
https://www.emailjs.com/docs/examples/reactjs/

Here's an example to setup emailjs with react. Use the contact form to send the form with emailjs

[2022-10-24 02:26] SarveshPatil29 commented on #504
Hi! I would like to work on this issue. Can you please assign it to me?

[2022-10-29 15:51] #503 closed